{% extends "admin_base.html" %}

{% block title %} {{room.local_name}} {% endblock %}
{% block page_heading %} {{room.local_name}} {% endblock %}
{% block page_subheading %}<a href="/admin/bookings/create">back to the search</a> {% endblock %}


{% block footer %}

<!-- BOOTSTRAP DATEPICKER AND FORM VALIDATION -->
<script>


    $(document).ready(function () {


        // JQUERY METER
        $('#jqmeter-container').jQMeter({
            goal:'$1,000',
            raised:'$200',
            meterOrientation:'vertical',
            width:'50px',
            height:'200px'
        });

        // CALENDAR
        $('#calendar').fullCalendar({
            contentHeight: 600,
            displayEventTime: false,
            nextDayThreshold: '00:00:00',
            eventMouseover: function(event, jsEvent, view) {

                // change the border color just for fun
                if(event.status != 2){
                    $(this).css('border-color', '#822222');
                    $(this).css('background-color', '#383521');
                }

            },
            eventMouseout: function(event, jsEvent, view) {

                if(event.status != 2){
                    $(this).css('border-color', '#888b91');
                    $(this).css('background-color', '#8e8754');
                }

            },
            eventRender: function(event, element, view) {
                var ntoday = new Date().getTime();
                var eventEnd = moment( event.end ).valueOf();
                var eventStart = moment( event.start ).valueOf();
                if (!event.end){
                    if (eventStart < ntoday){
                        element.addClass("past-event");
                        element.children().addClass("past-event");
                    }
                } else  {
                    if (eventEnd < ntoday){
                        element.addClass("past-event");
                        element.children().addClass("past-event");

                        // qtip for past bookings ( and don't show for canceled bookings)
                        if(event.status != 2){

                            element.qtip({
                                title  : event.guest_name,
                                content: {
                                    title  : event.guest_name,
                                    text   : event.review
                                },
                                position: {
                                    my  : 'top left',
                                    at  : 'bottom left',
                                    effect: function(api, pos, viewport) {
                                        // "this" refers to the tooltip
                                        $(this).animate(pos, {
                                            duration: 600,
                                            easing: 'linear',
                                            queue: false // Set this to false so it doesn't interfere with the show/hide animations
                                        });
                                    }
                                },
                                style : {
                                    classes: 'qtip-light'
                                }

                            });

                        }

                    }

                    if(eventEnd >= ntoday){

                        // qtip for upcoming bookings (and don't show for canceled ones)
                        if(event.status != 2){

                            element.qtip({
                                title  : event.guest_name,
                                content: {
                                    title  : event.guest_name + event.id,
                                    text   : event.num_guests + event.smoking + event.breakfast + event.pets + event.quite_room + event.bike_rent + event.children + event.arrival_time
                                },
                                position: {
                                    my  : 'top left',
                                    at  : 'bottom left',
                                    effect: function(api, pos, viewport) {
                                        // "this" refers to the tooltip
                                        $(this).animate(pos, {
                                            duration: 600,
                                            easing: 'linear',
                                            queue: false // Set this to false so it doesn't interfere with the show/hide animations
                                        });
                                    }
                                },
                                style : {
                                    classes: 'qtip-tipsy'
                                }
                            });

                        }

                    }
                }


            },
            events:
                [
                {% for booking in bookings %}
        {
            id              : '{{booking.booking_id}}',
            title           : '{{ booking.title }} {{booking.first_name }} {{ booking.last_name }} {% if booking.status == 2 %} CANCELED {% endif %}',
            start           : '{{ booking.checkin }}T12:00',
            end             : '{{ booking.checkout }}T12:00',
            url             :  '/admin/bookings/check-booking?id={{ booking.booking_id }}',
            backgroundColor : '{% if booking.status == 2 %} #d68b60 {% else %} #8e8754 {% endif %}',
            textColor       : 'black',
            allDay          : false,
            guest_name      : '<p class="lead">For {{ booking.title }} {{ booking.first_name }} {{ booking.last_name }}</p>',
            num_guests      : ' <li>{{ booking.num_guests }} guests</li>',
            smoking         : '{% if booking.smoking == 1 %}<li>Smoking guests {% else %}<li> No smoking guests</li>{% endif %}',
            breakfast       : '{% if booking.breakfast == 1 %}<li>Breakfast ordered</li>{% endif %}',
            pets            : '{% if booking.pets == 1 %}<li>Pets are present</li>{% endif %}',
            quite_room      : '{% if booking.quite_room == 1 %}<li>Quite room required</li>{% endif %}',
            bike_rent       : '{% if booking.bike_rent == 1 %}<li>Interested in bike rent</li>{% endif %}',
            children        : '{% if booking.num_children != 0 %}<li>Children: {{ booking.num_children }}</li>{% endif %}',
            arrival_time    : '<li>Approximate arrival time: {% if booking.arrival_time != 0 %}{{booking.arrival_time}}{% else %}not sure{% endif %}</li>',
            review          : 'review feature is under construction',
            status          : '{{ booking.status }}'


        },
        {% endfor %}

        ]

    });




        // set checkin date from todat=y
        var checkInDate = new Date();
        checkInDate.setDate(checkInDate.getDate());

        // initialize checkin datepicker for today
        $('#checkin').datepicker({
            startDate: checkInDate,
            todayHighlight: true,
            autoclose: true,
            format: 'yyyy/mm/dd'
        });

        // initialize checkout datepicker for the day after check in on input change
        $('#dateCheckin').change(function () {

            // set checkout date for the next day after checkin
            var checkInDate = new Date($('#dateCheckin').val());
            var checkOutDate = new Date();
            checkOutDate.setDate(checkInDate.getDate() + 1);


            // initialize checkout datepicker
            $('#checkout').datepicker({
                startDate: checkOutDate,
                autoclose: true,
                format: 'yyyy/mm/dd'
            });

            $('#dateCheckout').val('');

        });






        // custom method to validate dates
        $.validator.addMethod('validDates',
            function (value, element, param) {
                if(value != '') {
                    return new Date($('#dateCheckout').val()) > new Date($('#dateCheckin').val());
                }
            },
            'checkout date must be at least one day after check in'
        );





        // validation
        $("#createBookingForm").validate({
            rules: {
                first_name:{
                    required: true,
                    minlength: 2
                },
                last_name:{
                    required: true,
                    minlength: 2
                },
                checkin: {
                    required: true

                },
                checkout:{
                    required: true,
                    validDates: true
                }

            },
            messages: {
                first_name:{
                    required: "Please enter guest's first name",
                    minlength: "Name should be at least two characters long"
                },
                last_name:{
                    required: "Please enter guest's last name",
                    minlength: "Name should be at least two characters long"
                },
                checkin: {
                    required: "Please enter checkin date"
                },
                checkout: {
                    required: "Please enter checkout date"
                }

            }
        });
    });


</script>




{% endblock %}


{% block body %}




<h3 class="head">Room's info (Room #{{ room.room_number }})</h3>
<div class="row wrap">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12">
        <ul class="list-group">
            <li class="list-group-item">Days for cancellation before check in: {{ room.cancel_days }} </li>
            <li class="list-group-item list-group-item-{% if room.children == 1 %}success{% else %}danger{% endif %}">Children: {% if room.children == 1 %} allowed {% else %} no allowed {% endif %}</li>
            <li class="list-group-item list-group-item-{% if room.pets == 1 %}success{% else %}danger{% endif %}">Pets: {% if room.pets == 1 %} allowed {% else %} no allowed {% endif %}</li>
            <li class="list-group-item list-group-item-{% if room.smoking == 1 %}success{% else %}danger{% endif %}">Smoking: {% if room.smoking == 1 %} allowed {% else %} no allowed {% endif %}</li>
            <li class="list-group-item list-group-item-{% if room.aircon == 1 %}success{% else %}danger{% endif %}">Air conditioning: {% if room.aircon == 1 %} present {% else %} no present {% endif %}</li>
            <li class="list-group-item list-group-item-{% if room.tv == 1 %}success{% else %}danger{% endif %}">TV set: {% if room.tv == 1 %} present {% else %} no present {% endif %}</li>
        </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12">
        <ul class="list-group">
            <li class="list-group-item">Beds: {{ room.num_beds }}</li>
            <li class="list-group-item">Rooms: {{ room.num_rooms }}</li>
            <li class="list-group-item">Maximum guests number: {{ room.num_guests}}</li>
            <li class="list-group-item">View: {{ room.view }}</li>
            <li class="list-group-item">Area: {{ room.area }}</li>
            <li class="list-group-item">Class: {{ room.class }}</li>
        </ul>
    </div>
    <div>
    <h3 class="head">Description</h3>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
            <p class="head">{{ room.description }}</p>
        </div>
    </div>
    </div>
</div>

<div class="row wrap">
    <div id="jqmeter-container"></div>
</div>


<div class="row wrap">
    <div id='calendar'></div>
</div>
{% if booking.errors is not empty %}
<div class="row wrap alert-danger">
    <h3 class="alert-danger">Errors</h3>
    <ul>
        {% for error in booking.errors %}
        <li class="alert-danger">{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="row wrap">

    <form class="form-horizontal" id="createBookingForm" action="/admin/bookings/new-booking" method="post">

        <div class="row row-inside">
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
                <div class="form-group  bookings">
                    <label for="title">Title:</label>
                    <select class="form-control" name="title" id="title">
                        <option value="Mr." {% if booking.title == "Mr." %} selected {% endif %}>Mr.</option>
                        <option value="Ms." {% if booking.title == "Ms." %} selected {% endif %}>Ms.</option>
                        <option value="Mrs." {% if booking.title == "Mrs." %} selected {% endif %}>Mrs.</option>
                    </select>
                </div>
                <div class="form-group  bookings">
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" name="first_name" value="{{ booking.first_name }}" id="first_name">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
                <div class="form-group  bookings">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" value="{{ booking.last_name }}" name="last_name" id="last_name">
                </div>
                <div class="form-group  bookings">
                    <label for="guests">Number of guests:</label>
                    <select class="form-control" name="num_guests" id="guests">
                        {% if room.num_guests == 2 %}
                        <option {% if booking.num_guests == 1 %} selected {% endif %} value="1">1</option>
                        <option {% if booking.num_guests == 2 %} selected {% endif %} value="2">2</option>
                        {% endif %}
                        {% if room.num_guests == 4 %}
                        <option value="1" {% if booking.num_guests == 1 %} selected {% endif %}>1</option>
                        <option value="2" {% if booking.num_guests == 2 %} selected {% endif %}>2</option>
                        <option value="3" {% if booking.num_guests == 3 %} selected {% endif %}>3</option>
                        <option value="4" {% if booking.num_guests == 4 %} selected {% endif %}>4</option>
                        {% endif %}
                        {% if room.num_guests == 6 %}
                        <option value="2" {% if booking.num_guests == 2 %} selected {% endif %}>2</option>
                        <option value="3" {% if booking.num_guests == 3 %} selected {% endif %}>3</option>
                        <option value="4" {% if booking.num_guests == 4 %} selected {% endif %}>4</option>
                        <option value="5" {% if booking.num_guests == 5 %} selected {% endif %}>5</option>
                        <option value="6" {% if booking.num_guests == 6 %} selected {% endif %}>6</option>
                        {% endif %}

                    </select>
                </div>
            </div>
        </div>

        <div class="row row-inside">
            <div id="checkboxes">
                <label class="checkbox-inline">
                    <input name="breakfast"  type="checkbox" value="1" {% if booking.breakfast == "1" %} checked {% endif %}>I want breakfast
                </label>
                {% if room.smoking == 1 %}
                <label class="checkbox-inline">
                    <input name="smoking" type="checkbox" value="1" {% if booking.smoking == "1" %} checked {% endif %}>Smoking guests
                </label>
                {% endif %}
                {% if room.pets == 1 %}
                <label class="checkbox-inline">
                    <input name="pets" type="checkbox" value="1" {% if booking.pets == "1" %} checked {% endif %}>I have pets
                </label>
                {% endif %}
                <label class="checkbox-inline">
                    <input name="quite_room" type="checkbox" value="1" {% if booking.quite_room == "1" %} checked {% endif %}>I prefer a quite room
                </label>
                <label class="checkbox-inline">
                    <input name="bike_rent" type="checkbox" value="1" {% if booking.bike_rent == "1" %} checked {% endif %}>I'm interested in renting a bike
                </label>
            </div>
        </div>

        <div class="row row-inside">
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">

                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="input-group date" id="checkin">
                            <input type="text" class="form-control datepicker dateCheckin" id="dateCheckin"  name="checkin" value="">
                            <div class="input-group-addon">
                                <span>Check In</span>
                            </div>
                        </div>
                        <label for="dateCheckin" generated="true" class="error"></label>
                    </div>
                    <div class="col-lg-6 col-sm-12">

                        <div class="input-group date datepicker-right" id="checkout">
                            <input type="text" class="form-control datepicker"  id="dateCheckout" name="checkout" value="">
                            <div class="input-group-addon">
                                <span >Check Out</span>
                            </div>
                        </div>
                        <label for="dateCheckout" generated="true" class="error"></label>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12">
                {% if room.children == 1 %}
                <div class="form-group inline">
                    <label for="num_children">Number of children:</label>
                    <select class="form-control" id="num_children" name="num_children">
                        <option value="0" {% if booking.num_children == 0 %} selected {% endif %}>0</option>
                        <option value="1" {% if booking.num_children == 1 %} selected {% endif %}>1</option>
                        <option value="2" {% if booking.num_children == 2 %} selected {% endif %}>2</option>
                        <option value="3" {% if booking.num_children == 3 %} selected {% endif %}>3</option>
                        <option value="4" {% if booking.num_children == 4 %} selected {% endif %}>4</option>
                    </select>
                </div>
                {% endif %}

                <div class="form-group inline">
                    <label for="num_children">Approximate arrival time:</label>
                    <select class="form-control" id="arrival_time" name="arrival_time">
                        <option value="00:00 - 02:00" {% if booking.arrival_time == "00:00 - 02:00" %} selected {% endif %}>00:00 - 02:00</option>
                        <option value="02:00 - 04:00" {% if booking.arrival_time == "02:00 - 04:00" %} selected {% endif %}>02:00 - 04:00</option>
                        <option value="04:00 - 06:00" {% if booking.arrival_time == "04:00 - 06:00" %} selected {% endif %}>04:00 - 06:00</option>
                        <option value="06:00 - 08:00" {% if booking.arrival_time == "06:00 - 08:00" %} selected {% endif %}>06:00 - 08:00</option>
                        <option value="10:00 - 12:00" {% if booking.arrival_time == "10:00 - 12:00" %} selected {% endif %}>10:00 - 12:00</option>
                        <option value="12:00 - 14:00" {% if booking.arrival_time == "12:00 - 14:00" %} selected {% endif %}>12:00 - 14:00</option>
                        <option value="16:00 - 18:00" {% if booking.arrival_time == "16:00 - 18:00" %} selected {% endif %}>16:00 - 18:00</option>
                        <option value="18:00 - 20:00" {% if booking.arrival_time == "18:00 - 20:00" %} selected {% endif %}>18:00 - 20:00</option>
                        <option value="20:00 - 22:00" {% if booking.arrival_time == "20:00 - 22:00" %} selected {% endif %}>20:00 - 22:00</option>
                        <option value="22:00 -240:00" {% if booking.arrival_time == "22:00 - 22:00" %} selected {% endif %}>22:00 - 24:00</option>
                        <option value="0" {% if booking.arrival_time == "0" %} selected {% endif %}>I'm not sure</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row row-inside">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="wishes">Your wishes:</label>
                <textarea class="form-control" rows="5" name="wishes" id="wishes">{{ booking.wishes }}</textarea>
                <span class="lead"><i>Please tell us if you need something special
                    {% if room.class == "Budget" %}
                    (as playstation for your children)
                    {% endif %}
                    {% if room.class == "Premium" %}
                    (as particular wine for dinner )
                    {% endif %}
                    {% if room.class == "Lux" %}
                    (as luxury taxi)
                    {% endif %}
                    {% if room.class == "Delux" %}
                    (as luxury taxi)
                    {% endif %}

                </i></span>
            </div>
            </div>
        </div>

        <!-- HIDDEN INPUTS FOR POSTING ROOM'S ID AND CURRENT USER'S ID  -->
        <input type="hidden" name="user_id" value="{{ current_user.id }}">
        <input type="hidden" name="room_id" id="room_id" value="{{ room.id }}">



        <button type="submit" id="bookit" class="btn btn-default">Book it</button>
    </form>

</div>





{% endblock %}

