{% extends "admin_base.html" %}

{% block title %} {{ booking.room_name}} booking{% endblock %}
{% block page_heading %}{{ booking.room_name}} bookng{% endblock %}
{% block page_subheading %}<a href="/admin/bookings/book-room?id={{ booking.room_id }}">back to room </a> {% endblock %}


{% block footer %}
<script>



    $(document).ready(function () {

        var checkin = new Date('{{ booking.checkin }}');
        var checkout = new Date('{{ booking.checkout }}');

        var timeDiff = Math.abs(checkout.getTime() - checkin.getTime());
        var dayDif   = Math.ceil(timeDiff/(1000 * 3600 *24));

        if(dayDif == 1){
            $('#nights').html(dayDif + ' night stay');
        } else {
            $('#nights').html(dayDif + ' nights stay');
        }

    })

</script>


{% endblock %}


{% block body %}

<div class="row wrap">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <ul class="list-group">
            <li class="list-group-item">Booked for {{ booking.title }} {{ booking.first_name }} {{ booking.last_name }}</li>
            <li class="list-group-item">Check in {{ booking.checkin }}/checkout {{ booking.checkout}}. {{ booking.nights }}<i id="nights"></i> </li>
            <li class="list-group-item">Number of children: {{ booking.num_children }}</li>
            <li class="list-group-item">Approximate arrival time: {{ booking.arrival_time }}</li>
            <li class="list-group-item">Guests: {{ booking.num_guests }}</li>
        </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <ul class="list-group">
            <li class="list-group-item list-group-item-{% if booking.bike_rent == 1 %}success{% else %}danger{% endif %}">Guest {% if booking.breakfast == 1 %} is {% else %} isn't  {% endif %} interested in bike rent</li>
            <li class="list-group-item list-group-item-{% if booking.breakfast == 1 %}success{% else %}danger{% endif %}">Breakfast: {% if booking.breakfast == 1 %} ordered {% else %} isn't ordered {% endif %}</li>
            <li class="list-group-item list-group-item-{% if booking.smoking == 1 %}success{% else %}danger{% endif %}">Smoking guests: {% if booking.smoking == 1 %} yes {% else %} no {% endif %}</li>
            <li class="list-group-item list-group-item-{% if booking.pets == 1 %}success{% else %}danger{% endif %}">Pets: {% if booking.pets == 1 %} present {% else %} not present {% endif %}</li>
            <li class="list-group-item list-group-item-{% if booking.quite_room == 1 %}success{% else %}danger{% endif %}">Quite room: {% if booking.quite_room == 1 %} required {% else %} not required {% endif %}</li>
        </ul>
    </div>

</div>

{% if booking.status !=2 %}<h3 class="head">Guest's notes</h3>{% endif %}
<div class="row wrap">
    {% if booking.status == 2 %}<h1 style="color:#771d13">THIS BOOKING WAS CANCELLED</h1>{% else %}<p class="lead"> {{ booking.wishes }}</p>{% endif %}
</div>

<a class="btn btn-primary" id="viewAllBookings" href="/admin/bookings/all-bookings?id={{ booking.room_id }}">View all bookings for this room</a>
{% if booking.status == 1 %}
<a class="btn btn-danger" id="cancelBooking" href="/admin/bookings/cancel-booking?booking_id={{ booking.booking_id }}&room_id={{ booking.room_id }}">Cancel this booking</a>
{% endif %}


{% endblock %}

