{% extends "admin_base.html" %}

{% block title %}all bookings{% endblock %}
{% block page_heading %}All bookings around {% endblock %}
{% block page_subheading %}{{ site_name }}{% endblock %}


{% block footer %}

<script>

    $(document).ready(function () {

        var today = new Date();

        // add upcoming label to for bookings in less than 3 days time
        $('.checkin').each(function () {
            var checkIn = $(this).text();
            var checkInDate = new Date(checkIn);

            var timeDiff = Math.ceil(checkInDate.getTime() - today.getTime());
            var dayDiff  = Math.ceil(timeDiff/(1000 * 3600 * 24));

            var parentRow = $(this).parents('.row');
            var notificationsDiv = parentRow.find('.notifications');
            // wrap one div into another to save block behavior and make it content width on the other hand
            var upcomingHTML = '<div><div class="highlight alert alert-info">Upcoming</div></div>';
            var tomorrowHTML = '<div><div class="highlight alert alert-warning">Tomorrow</div></div>';


            if(1 < dayDiff && dayDiff < 10){
                notificationsDiv.append(upcomingHTML);
            } else if(dayDiff == 1){
                notificationsDiv.append(tomorrowHTML);
            }

            // get the number of nigths stay

            var checkout = $(this).parents('.row').find('.checkout').text();
            var checkoutDate = new Date(checkout);

            var dayStay = Math.ceil((checkoutDate.getTime() - checkInDate.getTime())/(1000 * 3600 * 24));

            if (dayStay == 1){
                parentRow.find('.nights-stay').text(dayStay + ' night stay');
            } else {
                parentRow.find('.nights-stay').text(dayStay + ' nights stay');
            }







        });





        // IF SELECTION CHANGED TO PASSED ONLY DISABLE PERIOD SELECT BOX
        if($('#show_only').val() == 3){
            $('#period').attr('disabled', true);
        }

        $('#show_only').change(function () {

            var status = $(this).val();

            if(status == 3){
                $('#period').attr('disabled', true);
            } else {
                $('#period').attr('disabled', false);
            }

        });

    });

</script>



{% endblock %}


{% block body %}


<div class="row wrap">
    <form class="form-inline" method="post" id="sortBookings" action="/admin/bookings/sort-all-bookings-around-hotel">
            <div class="form-group">
                <label for="show_only">Sort by:</label>
                <select class="form-control" id="show_only" name="status">
                    <option value="1" {% if params.status == 1 %} selected {% endif %}>Only upcoming</option>
                    <option value="2" {% if params.status == 2 %} selected {% endif %}>Only cancelled</option>
                    <option value="3" {% if params.status == 3 %} selected {% endif %}>Only passed</option>
                </select>
            </div>
            <div class="form-group">
                <label for="period">Choose a period:</label>
                <select class="form-control" id="period" name="period">
                    <option value="1" {% if params.period == 1 %} selected {% endif %}>Over the next day</option>
                    <option value="3" {% if params.period == 3 %} selected {% endif %}>Over the next 3 days</option>
                    <option value="7" {% if params.period == 7 %} selected {% endif %}>Over the next week</option>
                    <option value="15" {% if params.period == 15 %} selected {% endif %}>Over the next 15 days</option>
                    <option value="30" {% if params.period == 30 %} selected {% endif %}>Over the next month</option>
                    <option value="90" {% if params.period == 90 %} selected {% endif %}>Over the next 3 month</option>
                    <option value="183" {% if params.period == 183 %} selected {% endif %}>Over the next 6 month</option>
                    <option value="365" {% if params.period == 365 %} selected {% endif %}>Over the next year</option>
                </select>
            </div>
            <div class="radio">
                <label class="order"><input type="radio"  name="order" value="0" {% if params.order == 0 %} checked {% endif %}>Farthest first</label>
            </div>
            <div class="radio">
                <label class="order"><input type="radio"  name="order" value="1" {% if params.order == 1 %} checked {% endif %}>Closest first</label>
            </div>
            <div class="checkbox">
                <label class="order"><input type="checkbox"  name="group" value="1" {% if params.group == 1 %} checked {% endif %}>Group by room</label>
            </div>

            <div class="row">
                <button class="btn btn-primary" type="submit" id="sortAll" >Apply</button>
            </div>


      {% if params is not empty %}  <a  class="btn btn-default" href="/admin/bookings/view-all-bookings">View all</a> {% endif %}
    </form>

</div>

{% if bookings is not empty %}

{% for booking in bookings %}


<div class="row wrap {% if booking.status == 0 %} booking-past {% elseif booking.status == 2%} booking-canceled {% else %} booking-future {% endif %}">

    {% if booking.status == 1 %}                        <!-- upcoming bookings -->
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 tre notifications"><span>{{ booking.room_name }}</span></div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6  tre"><span class="checkin">Checkin:{{ booking.checkin }}</span><span class="checkout hide">{{ booking.checkout }}</span><mard><p class="nights-stay"></p></mard></div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6  tre"><span>{{ booking.title }} {{ booking.first_name }} {{ booking.last_name }}</span></div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6  tre"><span>{{ booking.num_guests }} guests</span></div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 ">

        <div class="row">
            <div class="short col-lg-6 col-md-6 col-sm-6 col-xs-6 alert {% if booking.num_children != 0 %}alert-info{% else %}alert-warning{% endif %}"><span>CHILDREN</span></div>
            <div class="short col-lg-6 col-md-6 col-sm-6 col-xs-6 alert {% if booking.smoking == 1 %}alert-info{% else %}alert-warning{% endif %}"><span>SMOKING</span></div>
        </div>
        <div class="row">
            <div class="short col-lg-6 col-md-6 col-sm-6 col-xs-6 alert {% if booking.pets == 1 %}alert-info{% else %}alert-warning{% endif %}"><span>PETS</span></div>
            <div class="short col-lg-6 col-md-6 col-sm-6 col-xs-6 alert {% if booking.breakfast == 1 %}alert-info{% else %}alert-warning{% endif %}"><span>BREAKFAST</span></div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6  tre-future"><a class="btn btn-default" href="/admin/bookings/check-booking?id={{ booking.booking_id }}">View</a></div>
    {% endif %}

    {% if booking.status == 0 %}                                <!-- past bookings -->
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6  tre"><span>{{ booking.room_name }}</span></div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6  tre"><span>{{ booking.checkin }}<i class="nights-stay"></i></span></div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6  tre"><span>{{ booking.title }} {{ booking.first_name }} {{ booking.last_name }}</span></div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6  tre"><span>REVIEW</span></div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6"><a class="btn btn-default" href="/admin/bookings/check-booking?id={{ booking.booking_id }}">View</a></div>
    {% endif %}

    {% if booking.status == 2 %}                                <!-- canceled bookings -->
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6"><span>{{ booking.room_name }}</span></div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><span>{{ booking.checkin }}</span></div>
    <div class="col-lg-2 col-md-2"><span>{{ booking.title }} {{ booking.first_name }} {{ booking.last_name }}</span></div>
    <div class="col-lg-4 col-lg-4 col-sm-6 col-xs-6"><h3 class="cancel">CANCELLED</h3></div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6"><a class="btn btn-default" href="/admin/bookings/check-booking?id={{ booking.booking_id }}">View</a></div>
    {% endif %}


</div>



{% endfor %}

{% else %}

<div class="row wrap">
    <h3>There are currently no bookings in your hotel</h3>
</div>

{% endif %}

{% endblock %}

