{% extends "admin_base.html" %}

{% block title %}All notifications{% endblock %}
{% block page_heading %}All notifications{% endblock %}
{% block page_subheading %}{{ site_name }}{% endblock %}


{% block footer %}
<script>
    $(document).ready(function () {

        // make delete notifications button disabled if there are no checked checkboxes
        $('.delete-notification').change(function () {
            if($('.delete-notification').is(':checked')){
                $('#deleteNotifications').removeAttr('disabled');
            } else {
                $('#deleteNotifications').attr('disabled', 'disabled');
            }
        })

    })
</script>


{% endblock %}


{% block body %}

<div class="row">
    {% if sort != 1 %}
    <a class="btn btn-default" id="onlyUnread" href="/admin/notifications/all-notifications?sort=1">Only unread</a>
    {% else %}
    <a class="btn btn-default" id="onlyAll" href="/admin/notifications/all-notifications?sort=0">All</a>
    {% endif %}
</div>

<div class="row wrap">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <form method="post" action="/admin/notifications/delete-checked">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="text-center col-lg-3">Title</th>
                        <th class="edit-category-table text-center col-lg-2">Date/Time</th>
                        <th class="text-center col-lg-6">Description</th>
                        <th class="text-center col-lg-2">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notification in notifications %}
                    {% if notification.action > 2 %}
                    <tr class="{% if notification.read_status == 1 %} unread {% endif %}">
                        <td class="edit-category-table text-center ">{{ notification.message}}</td>
                        <td class="edit-category-table text-center">{{ notification.timestamp }}</td>
                        <td class="edit-category-table text-center">{{ notification.first_name }} {{notification.last_name}} {% if notification.action == 3 %} activated account {% else %} joined us {% endif %}</td>
                        <td class="edit-category-table text-center"><input type="checkbox" name="notification-{{ notification.notification_id }}" value="{{ notification.notification_id }}" class="delete-notification"></td>
                    </tr>
                    {% else %}
                    <tr class="{% if notification.read_status == 1 %} unread {% endif %}">
                        <td class="edit-category-table text-center">{{ notification.message}}</td>
                        <td class="edit-category-table text-center">{{ notification.timestamp }}</td>
                        <td class="edit-category-table text-center">
                            <div class="row">
                                {{ notification.title }} {{ notification.first_name }} {{ notification.last_name }} booked {{ notification.room_name }}
                            </div>
                            <div class="row">
                                from {{notification.checkin}} to {{ notification.checkout }}
                            </div>
                        </td>
                        <td class="edit-category-table text-center"><input type="checkbox" name="notification-{{ notification.notification_id }}" value="{{ notification.notification_id }}" class="delete-notification"></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-danger" type="submit" disabled="disabled" id="deleteNotifications">Delete checked</button>
             </form>

</div>
        {% if pagination.page_total > 1 %}

        <div class="row pages">
            <div class="center">
                <ul class="pagination pagination-lg">
                    {% if pagination.has_prev != 0  %}<li><a href="/admin/notifications/all-notifications?page={{pagination.previous}}&sort={{sort}}">Previous</a></li>{% endif %}

                    {% for page in pagination.page_numbers %}
                    <li {% if loop.index == pagination.current_page %} class="active" {% endif %}><a href="/admin/notifications/all-notifications?page={{loop.index}}&sort={{sort}}">{{loop.index}}</a></li>
                    {% endfor %}

                    {% if pagination.has_next != 0 %}<li><a href="/admin/notifications/all-notifications?page={{pagination.next}}&sort={{sort}}">Next</a></li>{% endif %}

                </ul>
            </div>
        </div>

        {% endif %}





        {% endblock %}

