{% extends "admin_base.html" %}

{% block title %}All notifications{% endblock %}
{% block page_heading %}All notifications{% endblock %}
{% block page_subheading %}{{ site_name }}{% endblock %}


{% block footer %}


{% endblock %}


{% block body %}

<div class="row wrap">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <form method="post" action="/admin/notifications/delete-checked">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="text-center col-lg-3">Title</th>
                        <th class="edit-category-table text-center col-lg-2">Date/Time</th>
                        <th class="text-center">Description</th>
                        <th class="text-center col-lg-2">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notification in notifications %}
                    <tr>
                        <td class="edit-category-table text-center">{{ notification.message}}</td>
                        <td class="edit-category-table text-center">{{ notification.timestamp }}</td>
                        <td class="edit-category-table text-center">{{ notification.description }}</td>
                        <td class="edit-category-table text-center"><input type="checkbox" name="course-{{ course.course_id }}" value="{{ course.course_id }}" class="delete-course"></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
             </form>

</div>




{% endblock %}

