{% extends "admin_base.html" %}

{% block title %}All rooms{% endblock %}
{% block page_heading %} All rooms {% endblock %}
{% block page_subheading %} view {% endblock %}


{% block footer %}

<script>
    $(document).ready(function () {

        $('.date').each(function () {

            var month =  [];
            month[0] = "January";
            month[1] = "February";
            month[2] = "March";
            month[3] = "April";
            month[4] = "May";
            month[5] = "June";
            month[6] = "July";
            month[7] = "August";
            month[8] = "September";
            month[9] = "October";
            month[10] = "November";
            month[11] = "December";

            var value = $(this).text();
            var date = new Date(value);
            var m = month[date.getMonth()];
            var d = date.getDate().toString();

            $(this).text(m +' ' + d);

        });

    })
</script>

{% endblock %}

{% block body %}


{% for set in sets %}

<div class="row wrap">



    <div class="col-lg-3 col-md-3 col-sm-12 crop">
            <img src="{{ set.pictures.path }}" class="img-responsive img-rooms-all">
    </div>







    <div class="col-lg-3 col-md-3 col-sm-12 info">
        <ul class="list-group">
            <li class="list-group-item">Room number: {{ set.room.room_number }}</li>
            <li class="list-group-item">Class: {{ set.room.class }}</li>
            <li class="list-group-item">View: {{ set.room.view }}</li>
            <li class="alert alert-danger list-group-item">Upcoming guest!</li>
        </ul>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 room-name">

        <div class="row room-name">
            <a href="/admin/rooms/room?id={{ set.room.id }}"><h3 class="room-name">{{ set.room.local_name }}</h3></a>
        </div>
        <div class="row">
            {% for booking in set.bookings %}
            <a href="/admin/bookings/check-booking?id={{ booking.booking_id }}" target="_blank">
                <div class="booking alert alert-warning">
                    <div class="panels">
                        <div class="date checkin-panel">{{booking.checkin}}</div>
                        <div class="date checkout-panel">{{booking.checkout}}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

    </div>




</div>

{% endfor %}

{% endblock %}

