{% extends "admin_base.html" %}

{% block title %}All rooms{% endblock %}
{% block page_heading %} All rooms {% endblock %}
{% block page_subheading %} view {% endblock %}

{% block body %}


{% for set in sets %}

<div class="row">
{% for picture in set.pictures %}


    <div class="col-lg-3 col-md-3 col-sm-12">

        <a href="/admin/rooms/room?id={{ room.id }}">
            <img src="{{ picture.path }}" class="img-responsive img-rooms-all">
        </a>

    </div>

 {% endfor %}
    <div class="col-lg-6 col-md-6 col-sm-12 room-name">

        <div class="row room-name">
            <a href="/admin/rooms/room?id={{ room.id }}"><h3 class="room-name">{{ room.local_name }}</h3></a>
        </div>
        <div class="row bookings">
            <div class="booking">Test</div>
            <div class="booking">Test</div>
            <div class="booking">Test</div>
            <div class="booking">Test</div>
        </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 room-name">
        <h3 class="room-name" id="info">Info: </h3>
        <ul class="list-group">
            <li class="list-group-item">Room number: {{ room.room_number }}</li>
            <li class="list-group-item">Class: {{ room.class }}</li>
            <li class="list-group-item">View: {{room.view }}</li>
            <li class="alert alert-danger list-group-item">Upcoming guest!</li>
        </ul>
    </div>

</div>

{% endfor %}


{% for set in sets %}

{{ set.room.id }}

{% for picture in set.pictures %}

{{ picture.name }}

{% endfor %}


{% endfor %}





{% endblock %}

