{% extends "admin_base.html" %}

{% block title %} {{room.local_name}} {% endblock %}
{% block page_heading %} {{room.local_name}} {% endblock %}
{% block page_subheading %} edit {% endblock %}


{% block footer %}





<script>

       // bootstrap upload files plugin MUST BE OUTSIDE OF document.ready
    $("#input-id").fileinput({
        multiple: true,
        maxFileCount: parseInt(10 - {{ pictures|length }}),
        allowedFileExtensions: ["jpeg", "jpg", "png"]
    })


</script>

{% endblock %}


{% block body %}



<!-- ENABLE BOOTSTRAP BUTTON CONFIRMATION AND AJAX -->
<script>

    $(document).ready(function () {

        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]'
        });

        // add a current room id to the query string of form action property
        var roomId = getParameterByName('id');
        $('#addPhotosForm').attr('action', '/admin/rooms/add-photos?id=' + roomId);


        // prevent form from submission if there is no file to upload
        $('#btn-add').click(function () {
            if ($('#input-id').get(0).files.length === 0) {
                return false;
            }
        });




        // get id from a clicked button to process it through ajax
         $('.btn-popup-right').click(function () {

            var pictureId = ($(this).attr('id'));
            var roomId = getParameterByName('id');

            // set picture as the main one
            $.ajax({
                url: '/admin/rooms/set-main-picture',
                data: {
                    picture_id: pictureId,
                    room_id: roomId
                },
                type: 'POST',
                success: function(data){

                    if(!data.error){
                        //alert(data);
                       // alert(pictureId);
                       // alert(roomId);

                        location.reload(true);
                    }

                }
            });

             //alert(pictureId);
             //alert(roomId);

        });


        // ajax for photo deletion
       $('.btn-popup-left').click(function () {

            // current picture id
            var buttonId = ($(this).attr('id'));
            var array    = buttonId.split('-');
            var pictureId = parseInt(array[1]);

            // ajax
            $.ajax({
                url: '/admin/rooms/delete-photo',
                data: {
                    picture_id: pictureId
                },
                type: 'POST',
                success: function(data){

                    if(!data.error){

                        //alert(data);


                        location.reload(true);
                    }

                }
            });

            //alert(pictureId);


        });



    });

    // this function gets url parameter by name (we need id only)
    function getParameterByName( name ){
        var regexS = "[\\?&]"+name+"=([^&#]*)",
            regex = new RegExp( regexS ),
            results = regex.exec( window.location.search );
        if( results == null ){
            return "";
        } else{
            return decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    }


</script>


<!-- POPUOTS -->
<script>

    $(function() {


        //----- OPEN
        $('[data-popup-open]').on('click', function(e)  {
            var targeted_popup_class = jQuery(this).attr('data-popup-open');
            $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

            e.preventDefault();
        });

        //----- CLOSE
        $('[data-popup-close]').on('click', function(e)  {
            var targeted_popup_class = jQuery(this).attr('data-popup-close');
            $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

            e.preventDefault();
        });

    });

</script>



<hr/>
<h3 class="head">Room's photos</h3>
<div class="row wrap" >


    {% for picture in pictures %}

    <a data-popup-open="popup-{{ picture.id }}"  href="#"><img src="{{ picture.path }}" {% if picture.main == 1 %} id="main" {% endif %}  class="img-thumbnail room-edit thumbs"></a>

    <div class="popup" data-popup="popup-{{ picture.id }}">
        <div class="popup-inner">

            {% if picture.main == 1 %}
            <h2>This is the main picture</h2>
            {% elseif picture.main == 0 %}
            <h2>This is a secondary picture</h2>
            {% endif %}

            <div>
                <img class="popup-image" src="{{ picture.path }}" >
            </div>

            <div class="buttons">
            <a class="btn btn-md btn-danger btn-popup btn-popup-left" id="delete-{{ picture.id }}" data-toggle="confirmation" data-title="Delete this picture?" data-popout="true" data-placement="top"
               >Delete</a>

            {% if picture.main == 0 %}
            <a class="btn btn-primary btn-md btn-popup btn-popup-right " id="{{ picture.id }}" >Set as main photo</a>
            {% endif %}
            </div>

            <a class="popup-close" data-popup-close="popup-{{ picture.id }}" href="#">x</a>
        </div>
    </div>


    {% endfor %}


</div>


<h3 class="head">Add photos</h3>
<div class="row wrap">
    <form  class="form-horizontal" id="addPhotosForm" method="post" enctype="multipart/form-data">
        <label class="control-label">Select Files <small style="color:darkred"><i>There shouldn't be more than 10 photos altogether</i></i></small></label>
        <input id="input-id" name="photos[]" multiple type="file" class="file file-loading">
        <button type="submit"  class="btn btn-primary" id="btn-add">Add photos</button>
    </form>
</div>


<div class="row wrap">
    <h1>BOOKINGS</h1>
    <h1>{{ pictures|length }}</h1>
</div>




{% endblock %}

