{% extends "admin_base.html" %}

{% block title %}Create a room{% endblock %}
{% block page_heading %} Room {% endblock %}
{% block page_subheading %} create {% endblock %}



{% block footer %}


<script>

    // bootstrap upload files plugin
    $("#input-id").fileinput({
        'multiple':true
    });

</script>

<script>


    //form validation using jQuery Validate plagin
    $(document).ready(function() {



        $("#createRoomForm").validate({
            rules: {
                local_name:{
                    required: true,
                    minlength: 5
                },
                room_number:{
                    required: true,
                    minlength: 1,
                    remote: '/admin/rooms/validate-room'
                },
                area:{
                    required: true,
                    minlength: 1,
                    number: true
                }
            },
            messages: {
                local_name:{
                    required: "Please enter name of the room",
                    minlength: "Please enter at least 5 characters"
                },
                room_number:{
                    required: "Please enter number of the room",
                    minlength: "Please enter at least 1 character",
                    remote: "This number is already taken"
                },
                area:{
                    required: "Please inter area of the room",
                    minlength: "Please enter at least one digit",
                    number: "Please enter numbers only"
                }

            }
        });


    });

</script>


{% endblock %}







{% block body %}

{% if room.errors is not empty %}
<p class="lead validation-errors">Errors</p>
<ul>
    {% for error in room.errors %}
    <li class="validation-errors">{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}



<form class="form-horizontal" id="createRoomForm" method="post" enctype="multipart/form-data" action="/test/test">

    <div class="row form">

        <div class="col-lg-12">

                <div class="form-group">
                    <label class="control-label col-lg-2 required-field" for="localName" id="local">Local name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="localName" name="local_name" placeholder="Short name" value="{{ room.local_name }}">
                    </div>
                </div>

        </div>

    </div> <!-- the first row -->

    <div class="row form">

        <div class="col-lg-6">

            <div class="form-group">
                <label class="control-label col-lg-3  required-field" for="roomNumber">Room #</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="roomNumber" name="room_number" placeholder="local hotel's room number" value="{{ room.room_number }}">
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="form-group">
                <label class="control-label col-lg-3  required-field" for="area">Area</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="area" name="area" placeholder="area in m2" value="{{ room.area }}">
                </div>
            </div>

        </div>

    </div>





    <div class="row form">

        <div class="col-lg-12">
        <div class="form-group">
            <label for="comment">Description</label>
            <textarea class="form-control" rows="5" id="comment" name="description" >{{ room.description }}</textarea>
        </div>
        </div>

    </div> <!-- the second row -->

    <div class="row form">

        <div class="col-lg-6">
            <div class="form-group col-lg-10">
                <label for="beds"  class=" required-field">Number of beds</label>
                <select class="form-control" id="beds" name="beds">
                    <option value="1" {% if room.beds == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if room.beds == 2 %} selected {% endif %}>2</option>
                    <option value="3" {% if room.beds == 4 %} selected {% endif %}>3</option>
                </select>
            </div>
            <div class="form-group col-lg-10">
                <label for="rooms" class=" required-field">Number of rooms</label>
                <select class="form-control" id="rooms" name="rooms">
                    <option value="1" {% if room.rooms == 1 %} selected {% endif %}>1</option>
                    <option value="2" {% if room.rooms == 2 %} selected {% endif %}>2</option>
                    <option value="3" {% if room.rooms == 3 %} selected {% endif %}>3</option>
                    <option value="4" {% if room.rooms == 4 %} selected {% endif %}>4</option>
                </select>
            </div>
            <div class="form-group col-lg-10">
                <label for="guests"  class=" required-field">Number of guests</label>
                <select class="form-control" id="guests" name="guests">
                    <option value="2" {% if room.guests == 2 %} selected {% endif %}>2</option>
                    <option value="4" {% if room.guests == 4 %} selected {% endif %}>4</option>
                    <option value="6" {% if room.guests == 6 %} selected {% endif %}>6</option>
                </select>
            </div>

        </div>


        <div class="col-lg-6">
            <div class="form-group col-lg-10">
                <label for="beds"  class=" required-field">Class</label>
                <select class="form-control" id="class" name="class">
                    <option value="Budget" {% if room.class == "Budget" %} selected {% endif %}>Budget</option>
                    <option value="Premium" {% if room.class == "Premium" %} selected {% endif %}>Premium</option>
                    <option value="Delux" {% if room.class == "Delux" %} selected {% endif %}>Delux</option>
                    <option value="Lux" {% if room.class == "Lux" %} selected {% endif %}>Lux</option>
                </select>
            </div>
            <div class="form-group col-lg-10">
                <label for="cancelDays"  class=" required-field">Cancel days</label>
                <select class="form-control" id="cancelDays" name="cancel_days">
                    <option value="7" {% if room.cancel_days == 7 %} selected {% endif %}>7</option>
                    <option value="14" {% if room.cancel_days == 14 %} selected {% endif %}>14</option>
                    <option value="21" {% if room.cancel_days == 21 %} selected {% endif %}>21</option>
                    <option value="28" {% if room.cancel_days == 28 %} selected {% endif %}>28</option>
                </select>
            </div>
            <div class="form-group col-lg-10">
                <label for="view"  class=" required-field">View</label>
                <select class="form-control" id="view" name="view">
                    <option value="Cityscape" {% if room.view == "Cityscape" %} selected {% endif %}>Cityscape</option>
                    <option value="Garden" {% if room.view == "Garden" %} selected {% endif %}>Garden</option>
                    <option value="Seaview" {% if room.view == "Seaview" %} selected {% endif %}>Seaview</option>
                </select>
            </div>
        </div>

    </div> <!-- the third row -->

    <div class="row form">

        <div class="col-lg-12">

            <div id="checkboxes">

                <label class="checkbox-inline">
                    <input type="checkbox" {% if room.pets != 0 %}checked="checked" {% endif %}  name="pets" value="1">Pets allowed
                </label>
                <label class="checkbox-inline">
                    <input name="aircon" type="checkbox" value="1" {% if room.aircon != 0 %}checked="checked" {% endif %}>Aircon
                </label>
                <label class="checkbox-inline">
                    <input name="smoking" type="checkbox" value="1" {% if room.smoking != 0 %}checked="checked" {% endif %}>Smoking alowed
                </label>
                <label class="checkbox-inline">
                    <input name="children" type="checkbox" value="1" {% if room.children != 0 %}checked="checked" {% endif %}>Children allowed
                </label>

            </div>

        </div>
    </div> <!-- the fourth row -->



    <div class="row form">

        <div class="form-group" id="mainPicture">
            <label class="btn btn-default btn-file">
                Main Picture <input type="file" name="main_picture" style="display: none;">
            </label>
        </div>

    </div>

    <label class="control-label">Select File</label>
    <input id="input-id" name="photos[]" multiple type="file" class="file file-loading" data-allowed-file-extensions='["jpeg", "jpg", "png"]'>



<div class="row button">
    <div class="form-group">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</div>



</form>






{% endblock %}

