{% extends "admin_base.html" %}

{% block title %}Create a room{% endblock %}
{% block page_heading %} Room {% endblock %}
{% block page_subheading %} create {% endblock %}



{% block footer %}

<script>


    //form validation using jQuery Validate plagin
    $(document).ready(function() {

        /*$('.row').click(function () {
         alert('dkfh');
         });*/

        $("#createRoomForm").validate({
            rules: {
                local_name:{
                    required: true,
                    minlength: 5
                },
                room_number:{
                    required: true,
                    minlength: 1
                },
                area:{
                    required: true,
                    minlength: 1,
                    number: true
                }
            },
            messages: {
                local_name:{
                    required: "Please enter name of the room",
                    minlength: "Please enter at least 5 characters"
                },
                room_number:{
                    required: "Please enter number of the room",
                    minlength: "Please enter at least 1 character"
                },
                area:{
                    required: "Please inter area of the room",
                    minlength: "Please enter at least one digit",
                    number: "Please enter numbers only"
                }

            }
        });


    });

</script>


{% endblock %}







{% block body %}


<form class="form-horizontal" id="createRoomForm" method="post" enctype="multipart/form-data" action="">

    <div class="row form">

        <div class="col-lg-12">

                <div class="form-group">
                    <label class="control-label col-lg-2 required-field" for="localName" id="local">Local name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="localName" name="local_name" placeholder="Short name">
                    </div>
                </div>

        </div>

    </div> <!-- the first row -->

    <div class="row form">

        <div class="col-lg-6">

            <div class="form-group">
                <label class="control-label col-lg-3  required-field" for="roomNumber">Room #</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="roomNumber" name="room_number" placeholder="local hotel's room number">
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="form-group">
                <label class="control-label col-lg-3  required-field" for="area">Area</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="area" name="area" placeholder="area in m2">
                </div>
            </div>

        </div>

    </div>





    <div class="row form">

        <div class="col-lg-12">
        <div class="form-group">
            <label for="comment">Description</label>
            <textarea class="form-control" rows="5" id="comment" name="decsription"></textarea>
        </div>
        </div>

    </div> <!-- the second row -->

    <div class="row form">

        <div class="col-lg-6">
            <div class="form-group col-lg-10">
                <label for="beds"  class=" required-field">Number of beds</label>
                <select class="form-control" id="beds" name="beds">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="form-group col-lg-10">
                <label for="rooms" class=" required-field">Number of rooms</label>
                <select class="form-control" id="rooms" name="rooms">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="form-group col-lg-10">
                <label for="guests"  class=" required-field">Number of guests</label>
                <select class="form-control" id="guests" name="guests">
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                </select>
            </div>

        </div>


        <div class="col-lg-6">
            <div class="form-group col-lg-10">
                <label for="beds"  class=" required-field">Class</label>
                <select class="form-control" id="class" name="class">
                    <option value="Budget">Budget</option>
                    <option value="Premium">Premium</option>
                    <option value="Delux">Delux</option>
                    <option value="Lux">Lux</option>
                </select>
            </div>
            <div class="form-group col-lg-10">
                <label for="cancelDays"  class=" required-field">Cancel days</label>
                <select class="form-control" id="cancelDays" name="cancelDays">
                    <option value="7">7</option>
                    <option value="14">14</option>
                    <option value="21">21</option>
                    <option value="28">28</option>
                </select>
            </div>
            <div class="form-group col-lg-10">
                <label for="view"  class=" required-field">View</label>
                <select class="form-control" id="view" name="view">
                    <option value="Cityscape">Cityscape</option>
                    <option value="Garden">Garden</option>
                    <option value="Seaview">Seaview</option>
                </select>
            </div>
        </div>

    </div> <!-- the third row -->

    <div class="row form">

        <div class="col-lg-12">

            <div id="checkboxes">

                <label class="checkbox-inline">
                    <input type="checkbox"  name="pets" value="">Pets allowed
                </label>
                <label class="checkbox-inline">
                    <input name="aircon" type="checkbox" value="">Aircon
                </label>
                <label class="checkbox-inline">
                    <input name="smoking" type="checkbox" value="">Smoking alowed
                </label>
                <label class="checkbox-inline">
                    <input name="children" type="checkbox" value="">Children allowed
                </label>

            </div>

        </div>
    </div> <!-- the fourth row -->





<div class="row button">
    <div class="form-group">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</div>

</form>


{% endblock %}

