{% extends "admin_base.html" %}

{% block title %} {{room.local_name}} {% endblock %}
{% block page_heading %} {{room.local_name}} {% endblock %}
{% block page_subheading %} edit {% endblock %}

{% block body %}




<div class="row">

    <div class="col-lg-6 col-md-3 col-sm-12">
            <img src="/uploads/pictures/rooms/download.jpg" class="img-responsive img-room-all btn btn-info btn-lg" type="button"  data-toggle="modal" data-target="#myModal">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-admin">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="room modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="room modal-body">
                    <img src="/uploads/pictures/rooms/download.jpg">
                </div>
                <div class="room modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
                </div>
            </div>

        </div>
    </div>

</div>


</div>



{% endblock %}

