body {
    overflow-x: hidden;
}



/* ======================== CREATE ROOM FORM STYLES ========================================== */


#createRoomForm {
    padding: 0 0 10px 0 !important;
}

#dropzone {
    border: solid #4a4a4a 1px;
}

#mainPicture {
    margin-left: 2%;
}

div.row.form {
    border: solid #f3f3f3 1px;
    margin: 10px 0;
    padding: 50px 10px;
}

div.row.button {
    margin-top: 50px;
    padding-left: 2%;
}

#checkboxes {
    justify-content: space-around !important;
    display: flex;
}

#local {
    text-align: left !important;
    padding-left: 2.5%;
}

.required-field::after {
    content: " *";
    color: red;
}

#localName-error, #roomNumber-error, #area-error {
    color: #92474f;
}

.validation-errors {
    color: #92474f;
}