body {
    overflow-x: hidden;
}



/* ======================== CREATE ROOM FORM STYLES ========================================== */


#createRoomForm {
    padding: 0 0 10px 0 !important;
}

#dropzone {
    border: solid #4a4a4a 1px;
}

#mainPicture {
    margin-left: 2%;
}

div.row.form {
    border: solid #f3f3f3 1px;
    margin: 10px 0;
    padding: 50px 10px;
}

div.row.button {
    margin-top: 50px;
    padding-left: 2%;
}

#checkboxes {
    justify-content: space-around !important;
    display: flex;
}

#local {
    text-align: left !important;
    padding-left: 2.5%;
}

.required-field::after {
    content: " *";
    color: red;
}

#localName-error, #roomNumber-error, #area-error {
    color: #92474f;
}

.validation-errors {
    color: #92474f;
}

.flash_message {
    position: fixed !important;
    top: 9% !important;
    left: 19%;
    width: 80%;
    z-index: 500 !important;
}


/*================================= STYLES FOR THE ALL ROOMS PAGE ================================ */

.crop {
    width: 250px;
    height: 170px;
    overflow: hidden;
    padding: 0;
    margin-top: 1%;
}

.img-rooms-all {
    height: auto;
    margin: 0;
}

.wrap {
    border: solid 1px #cacaca;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    height: 250px;
}

.bookings {
    margin-top: 5%;
    padding: 10px;
    box-sizing: border-box;
}

.booking{
    display: inline-block;
    height: 100px;
    width: 150px;
    border: solid #a4a4a4 1px;
    margin: 5px;
}

.booking:hover {
    background-color: #fffab0;
}

.dateIn, .dateOut {
    height: 30px;
    width: 100%;
    font-size: large !important;
    display: block;
    text-align: center;
}

.checkin-panel {
    border-bottom: 1px solid #a8a8a8;
    padding: 0 0 20px 0;
}

.checkout-panel {
    margin-top: 10px;
}

.panels {
    margin: 5px 0 0 0px;
}

#info {
    margin-bottom: 5px;
}




/*========================================= STYLES FOR ROOM PAGE ===========================================*/



.room-edit {
    width: 200px !important;
    height: auto !important;
    max-height: 130px;
    margin-top: 10px;
}


.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

.popup-image {
    width: 550px;     /* set only width in order to avoid distortion*/
    display:block;   /* for aligning to center*/
    margin:auto;
    /*height: 330px;*/
}

.buttons{
    width: 550px;
    display: block;
    margin: auto;    /* aligns buttons and photo due to same width and margin*/
}

.btn-popup, #btn-add {
    margin-top: 10px !important;
}

.btn-popup-right{
    float: right;
}

.head {
    margin-left: 1%;
}

#main {
    background-color: #feabaa;
}

.thumbs:hover {
    background-color: #9b9b9b !important;
}

#add-photos {
    z-index: 0 !important;
}

.popup {
    z-index: 100000 !important;
}

#edit-room-button {               /*get button to the rigth */
    position: absolute;
    right: 50px;
}

/*=============================== STYLES FOR EDIT ROOM PAGE ============================== */

#wrap-update {
    border-radius: 5px;
    margin: 10px;
    padding: 10px 0 0;
    height: 250px;
}

#room-number {
    text-align: left !important;
    padding-left: 5%;
}


/*================================ FIND ROOM PAGE =================================*/

.search {
    height: 100px !important;
}

.right-input {
    position: absolute;
    right: 3%;
}

.checkboxes {
    height: 40px;
}

#sentence {
   margin-left: 3%;
}

#keywords {
    margin:  10px;
}

/* ================================== STYLES FOR CREATE BOOKING PAGE =========================== */

.row-inside {
    margin: 10px !important;
    padding: 30px 10px !important;
}

.inline {
    margin: 5px 30px;
}

.datepicker-right{
    margin-left: 20px !important;
}

#bookit {
    margin-left: 10px;
}
.bookings {
    margin: 10px 10px;
}

#checkin, #checkout {
    margin: 30px 0 !important;
}

div.past-event {
    background-color: #cbcbcb !important;
}

.hidden {
    visibility: hidden;
}


/*=========================== ONE BOOKING PAGE ======================================= */

#viewAllBookings, #cancelBooking {
    margin: 10px;
}

/* ================================ DELETE BOOKING PAGE ======================== */

/* ============================= ALL BOOKINGS TO ONE ROOM PAGE ================================= */

.booking-past {
    background-color: #c0c2bb;
    opacity: 0.7;
}

.booking-canceled {
    background-color: rgba(230, 180, 174, 0.98);
}

.booking-future {
    background-color: rgba(180, 218, 180, 0.97);
}
.upcoming, .tomorrow, .canceled {
    margin-left: 5% !important;
    width: auto !important;
    text-align: center;
}

#sortBookings > div {
    padding: 10px;
}

.order, .order > input {
    margin: 0 10px;
}

/* ============================================= STYLES FOR ALL BOOKINGS AROUND HOTEL PAGE ======================== */

h3.cancel {
    padding: 0px !important;
    margin: 0px !important;
}

.tre span {
    position: relative;
    top: 30%;
}

.tre-future a  {
    position: relative;
    top: 15%;
}

.short {
    padding: 1px 0 !important;
    margin: 0 !important;
    text-align: center !important;
}

.highlight, .highlight-red {
    text-transform: uppercase;
    padding: 2px;
    margin: 2px;
    display: inline-block;
}

.checkout {
    visibility: hidden;
}

.hide {
    padding: 0 !important;
    margin: 0 !important;
}

#sortAll {
    margin-left: 2%;
}


#viewAll {
    float: right;
}

/* ========================================= STYLES FOR ALL REVIEWS PAGE ====================================== */

.review-low {
    background-color: #ffbcb9 !important;
}

.review-middle {
    background-color: #a7b2c4 !important;
}

.review-high {
    background-color: #afff9d !important;
}




