body {
    overflow-x: hidden;
}



/* ======================== CREATE ROOM FORM STYLES ========================================== */


#createRoomForm {
    padding: 0 0 10px 0 !important;
}

#dropzone {
    border: solid #4a4a4a 1px;
}

#mainPicture {
    margin-left: 2%;
}

div.row.form {
    border: solid #f3f3f3 1px;
    margin: 10px 0;
    padding: 50px 10px;
}

div.row.button {
    margin-top: 50px;
    padding-left: 2%;
}

#checkboxes {
    justify-content: space-around !important;
    display: flex;
}

#local {
    text-align: left !important;
    padding-left: 2.5%;
}

.required-field::after {
    content: " *";
    color: red;
}

#localName-error, #roomNumber-error, #area-error {
    color: #92474f;
}

.validation-errors {
    color: #92474f;
}

.flash_message {
    position: fixed !important;
    top: 9% !important;
    left: 19%;
    width: 80%;
    z-index: 500 !important;
}


/*================================= STYLES FOR THE ALL ROOMS PAGE ================================ */

.crop {
    width: 250px;
    height: 170px;
    overflow: hidden;
    padding: 0;
    margin-top: 1%;
}

.img-rooms-all {
    height: auto;
    margin: 0;
}



.wrap {
    border: solid 1px #cacaca;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    height: 250px;
}

.bookings {
    margin-top: 5%;
    padding: 10px;
    box-sizing: border-box;
}

.booking{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: solid #a4a4a4 1px;
    margin: 5px;
}

#info {
    margin-bottom: 5px;
}


/*========================================= STYLES FOR ROOM PAGE ===========================================*/



.room-edit {
    width: 200px !important;
    height: 120px !important;
    margin-top: 10px;
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

.popup-image {
    width: 600px;
    height: 330px;
}

.btn-popup {
    margin-top: 10px;
}

.btn-popup-right{
    float: right;
    margin-right: 3%;
}

.head {
    margin-left: 1%;
}
