$black: rgba(12, 12, 12, 0.9);
$text_on_black: #ddd;

.flash_message {
  position: fixed !important;
  top: 10% !important;
  width: 95%;
}

body{
  padding-top:80px;
  overflow-x:hidden;
}


.navbar-brand {
  height: auto;
  margin: 0;
}

.nav {
  margin-top: 30px!important;
}

.navbar-nav{
  margin: 0;
  padding: 0;

  a{
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
  }

  a:hover{
    color: $text_on_black!important;
  }
}

footer {
  margin-top: 30px!important;
  background: $black;
  color: $text_on_black;
  padding-bottom: 10px;

  h2{
    text-transform: uppercase;
  }

  p {
    line-height: 2em;
    letter-spacing: 1.2px;
    font-size: 14px;
  }

  button {
    background: #fff!important;
    color: #010101 !important;
  }
}

section.home-carousel {
  margin:0;
  padding:0;
}

section.booking-home {
  background: $black;
  color: $text_on_black;
  height: 100px;
  padding: 0!important;

  h2{
    text-transform: uppercase;
    padding-top: 10px;
  }

  input {
    margin: 30px 0 0 0;
    background: $text_on_black!important;
    width: 200px;
    display:inline-block!important;
  }

  i {
    padding-top:35px;
    height: 42px!important;
    color: $text_on_black;
  }

  .find-rooms {
    background: #fff;
    color: $black;
    margin-top: 30px;
  }
  .find-rooms:hover {
    background: #cccaa7 !important;
  }

}

section.amenities {
  margin-top: 100px;

  h2, p {
    text-align: center;
  }
  p{
    font-size: 18px;
  }
  h2 {
    text-transform: capitalize;
  }
  img {
    width: 100%;
    max-height: 600px;
  }

}

section#rooms {
  margin: 80px 0 0 0;

  img{
    width: 100%;
    height:100% !important;
    filter:grayscale(70%);
  }
  .images  {
    position: relative !important;
    margin: 0!important;
    padding: 10px 10px!important;
  }
  img:hover{
    filter:grayscale(0);
    transform: scale(1.02);
    transition: all .7s ease-out
  }
  .captions {
    display: block;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); // vertically and horizontally center this absolutely positioned div
    text-align: center;

    .well {
      background: rgba(0, 0, 0, 0.6)
    }
  }

  a {
    color: $text_on_black;
  }
  a:hover {
    text-decoration: none;
  }

}


@media (min-width: 770px) and (max-width: 1070px) {
  .navbar-nav a{
    margin: 0;
    padding: 10px!important;
  }
  section.booking-home {
    h2{
      font-size: 20px;
      margin-top: 30px;
    }
    input{
      width: 120px!important;
    }
  }
  
}

@media (min-width: 991px) and (max-width: 1400px) {
  section#rooms {
    .captions {
      width: 70%;
      padding: 5px;
      h3{
        font-size: 18px;
        padding: 0;
        margin: 0;
      }
      hr{
        margin: 10px;
      }
      p{
        font-size: 14px;
        padding: 0;
        margin: 0;
      }
    }
  }
}
@media (max-width: 500px){
  section#rooms {
    .captions {
      width: 70%;
      padding: 5px;
      h3{
        font-size: 18px;
        padding: 0;
        margin: 0;
      }
      hr{
        margin: 10px;
      }
      p{
        font-size: 14px;
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media (max-width: 770px){
  section.booking-home{
    height: auto;
    width: 100%;
    text-align: center;
    input{
      width: 80%;
    }
    padding-bottom: 10px!important;
  }

}

/* ============================= SEARCH RESULTS ============================================*/

div#searchSlideShow{
  margin-top: 30px;
  min-height: 500px;
}

section.search-terms {
  margin: 0!important;
  background: rgba(203, 204, 159, 0.41);
  height: 100px;


  .checkbox{
    padding-top: 15px;
  }

  .terms {
    padding-top: 15px;
  }

 .apply-search {
   height: 100px;
   background-color: rgba(139, 139, 121, 0.37);
 }

  h3{
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: normal;
    color: #626262;
  }
  .apply-search:hover {
    background-color: rgba(94, 94, 78, 0.59);
    cursor: pointer!important;
    h3{color: #cecece;}
  }


  a:hover{
    text-decoration: none;
  }

  label {
    font-weight: normal;
    font-family:"Segoe UI","Source Sans Pro";
  }

}

.test {
  border: 2px solid red;
}

