$black: rgba(12, 12, 12, 0.9);
$text_on_black: #ddd;

.flash_message {
  position: fixed !important;
  top: 10% !important;
  width: 95%;
}

body{
  padding-top:80px;
}


.navbar-brand {
  height: auto;
  margin: 0;
}

.nav {
  margin-top: 30px!important;
}

.navbar-nav{
  margin: 0;
  padding: 0;

  a{
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
  }

  a:hover{
    color: $text_on_black!important;
  }
}

footer {
  margin-top: 30px!important;
  background: $black;
  color: $text_on_black;
  padding-bottom: 10px;

  h2{
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    line-height: 2em;
    letter-spacing: 1.2px;
    font-size: 14px;
  }

  button {
    background: #fff!important;
    color: #010101 !important;
  }
}

section.home-carousel {
  margin:0;
  padding:0;
}

section.booking-home {
  background: $black;
  color: $text_on_black;
  height: 100px;
  padding: 0!important;

  h2{
    text-transform: uppercase;
    padding-top: 10px;
  }

  input {
    margin: 30px 0 0 0;
    background: $text_on_black!important;
    width: 200px;
    display:inline-block!important;
  }

  i {
    padding-top:35px;
    height: 42px!important;
    color: $text_on_black;
  }

  .find-rooms {
    background: #fff;
    color: $black;
    margin-top: 30px;
  }
  .find-rooms:hover {
    background: #cccaa7 !important;
  }

}

section.amenities {
  margin-top: 100px;

  h2, p {
    text-align: center;
  }
  p{
    font-size: 18px;
  }
  h2 {
    text-transform: capitalize;
  }
  img {
    width: 100%;
    max-height: 400px;
  }

}

section#rooms {
  margin: 80px 0 0 0;

  img{
    width: 100%;
    height:100% !important;
    filter:grayscale(70%);
  }
  .images  {
    position: relative !important;
    margin: 0!important;
    padding: 10px 10px!important;
  }
  img:hover{
    filter:grayscale(0);
    transform: scale(1.02);
    transition: all .7s ease-out
  }
  .captions {
    display: block;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); // vertically and horizontally center this absolutely positioned div
    text-align: center;

    .well {
      background: rgba(0, 0, 0, 0.6)
    }
  }

  a {
    color: $text_on_black;
  }
  a:hover {
    text-decoration: none;
  }

}

.test {
  border: 2px solid red;
}

