$black: rgba(12, 12, 12, 0.9);
$text_on_black: #ddd;

.flash_message {
  position: fixed !important;
  top: 10% !important;
  width: 95%;
}

body{
  padding-top:60px;
  overflow-x:hidden;
}


.navbar-brand {
  height: auto;
  margin: 0;
}

.nav {
  margin-top: 30px!important;
}

.navbar-nav{
  margin: 0;
  padding: 0;

  a{
    padding: 20px;
    text-transform: uppercase;
    font-size: 20px;
  }

  a:hover{
    color: $text_on_black!important;
  }
}

footer {
  margin-top: 30px!important;
  background: $black;
  color: $text_on_black;
  padding-bottom: 10px;

  h2{
    text-transform: uppercase;
  }

  p {
    line-height: 2em;
    letter-spacing: 1.2px;
    font-size: 14px;
  }

  button {
    background: #fff!important;
    color: #010101 !important;
  }
}

section.home-carousel {
  margin:0;
  padding:0;
}

section.booking-home {
  background: $black;
  color: $text_on_black;
  height: 100px;
  padding: 0!important;

  h2{
    text-transform: uppercase;
    padding-top: 10px;
  }

  input {
    margin: 30px 0 0 0;
    background: $text_on_black!important;
    width: 200px;
    display:inline-block!important;
  }

  i {
    padding-top:35px;
    height: 42px!important;
    color: $text_on_black;
  }

  .find-rooms {
    background: #fff;
    color: $black;
    margin-top: 30px;
  }
  .find-rooms:hover {
    background: #cccaa7 !important;
  }

}

section.amenities {
  margin-top: 100px;

  h2, p {
    text-align: center;
  }
  p{
    font-size: 18px;
  }
  h2 {
    text-transform: capitalize;
  }
  img {
    width: 100%;
    max-height: 600px;
  }

}

section#rooms {
  margin: 80px 0 0 0;

  img{
    width: 100%;
    height:100% !important;
    filter:grayscale(70%);
  }
  .images  {
    position: relative !important;
    margin: 0!important;
    padding: 10px 10px!important;
  }
  img:hover{
    filter:grayscale(0);
    transform: scale(1.02);
    transition: all .7s ease-out
  }
  .captions {
    display: block;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); // vertically and horizontally center this absolutely positioned div
    text-align: center;

    .well {
      background: rgba(0, 0, 0, 0.6)
    }
  }

  a {
    color: $text_on_black;
  }
  a:hover {
    text-decoration: none;
  }

}


@media (min-width: 770px) and (max-width: 1070px) {
  .navbar-nav a{
    margin: 0;
    padding: 10px!important;
  }
  section.booking-home {
    h2{
      font-size: 20px;
      margin-top: 30px;
    }
    input{
      width: 120px!important;
    }
  }
  
}

@media (min-width: 991px) and (max-width: 1400px) {
  section#rooms {
    .captions {
      width: 70%;
      padding: 5px;
      h3{
        font-size: 18px;
        padding: 0;
        margin: 0;
      }
      hr{
        margin: 10px;
      }
      p{
        font-size: 14px;
        padding: 0;
        margin: 0;
      }
    }
  }
}
@media (max-width: 500px){
  section#rooms {
    .captions {
      width: 70%;
      padding: 5px;
      h3{
        font-size: 18px;
        padding: 0;
        margin: 0;
      }
      hr{
        margin: 10px;
      }
      p{
        font-size: 14px;
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media (max-width: 770px){
  section.booking-home{
    height: auto;
    width: 100%;
    text-align: center;
    input{
      width: 80%;
    }
    padding-bottom: 10px!important;
  }

}

/* ============================= SEARCH RESULTS ============================================*/

div#searchSlideShow{
  margin-top: 30px;
  min-height: 500px;
}

section.search-terms {
  margin: 0!important;
  background: rgba(203, 204, 159, 0.41);
  height: 100px;

  .picker {
    margin-top: -12px;
  }
  .checkbox{
    padding-top: 15px;
  }

  .terms {
    padding-top: 15px;
  }

 .apply-search {
   height: 100px;
   background-color: rgba(139, 139, 121, 0.37);
 }

  h3{
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: normal;
    color: #626262;
  }
  .apply-search:hover {
    background-color: rgba(94, 94, 78, 0.59);
    cursor: pointer!important;
    h3{color: #cecece;}
  }


  a:hover{
    text-decoration: none;
  }

  label {
    font-weight: normal;
    font-family:"Segoe UI","Source Sans Pro";
  }

}

section.search-results {

  h2{
    margin-left: 20px;
  }

  .panel-body {
    img{
      width: 100%;
    }
    h3{
      color: #000;
    }
    h3:hover {
      color:#ccc;
    }
    a, h3 {
      display: inline-block;
    }
    .left-arrow, .right-arrow{
      opacity: 0.6;
      z-index: 1000;
    }

    .left-arrow:hover, .right-arrow:hover{
      opacity: 1;
      color: #aaaaaa;
      cursor: pointer;
    }

    .left-arrow{
      position: absolute;
      top: 45%;
    }
    .right-arrow {
      position: absolute;
      right:0;
      top: 45%;
    }
    .rotate_180 {
      -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
      -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(180deg);  /* IE 9 */
      -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
      transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
      -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
      -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
      -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
      transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    }
    .rotate_360 {
      -webkit-transform: rotate(0deg);  /* Chrome, Safari 3.1+ */
      -moz-transform: rotate(0deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(0deg);  /* IE 9 */
      -o-transform: rotate(0deg);  /* Opera 10.50-12.00 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
      -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
      -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
      -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
      transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    }

  }



  .panel-footer{
    img{
      width: 50%;
    }

    .info {
      padding-top: 10px;
      padding-left: 10px;
    }
  }


  .border-bottom {
    border-bottom: 1px solid #dddddd;
  }

  .bookit {
    margin-top: 10px;
  }

  .pagination-lg a {
    color: #000;
  }
  .pagination-lg a:hover {
     color: rgba(111, 111, 111, 0.88);
   }

}

@media (min-width: 991px) and (max-width: 1300px){
  .bookit{position: relative; left: -50px;}
  .search-terms p {
    font-size: 12px;
  }
  .search-terms h4 {
    font-size: 16px!important;
  }
}
@media (max-width:990px) {
  section.search-terms{
    height: auto!important;
  }
}
@media (max-width: 720px) {
  .search-results .panel-footer p {
    font-size: 12px;

  }
}
@media (max-width: 441px) {
  .icon-room {width: 100%!important;}
  .panel h3 {
    font-size: 18px;
  }
  .page-header{
    font-size: 26px!important;
  }

  .pagination a{
    padding: 10px!important;
  }
}

/*========================= PREBOOK PAGE =======================================*/
section.search-terms.prebook {
  margin-top: 50px!important;
}

section.header {
  padding-left: 40px !important;
}

section.extras {
  padding-left: 40px!important;
  padding-right: 40px!important;

  input, select {
    width: 100%!important;
  }
  .select{
    margin-left: 10%;
  }

  img {
    width: 100%;
  }
  img.icon {
    width: 20%!important;
    position: absolute;
    top: 12%;
    left: -5%;
  }

  .form-group.breakfast {
    margin-top: 20px;
  }
  .extras {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    h3, input{
      display: inline-block;
      margin: 0!important;
      padding: 0!important;
    }
    p{
      margin: 10px 0 0 0!important;
    }
    .icheckbox_flat {
      position: absolute!important;
      right: 15px!important;
      margin-top: 20px;
    }

  }

  .checkbox-input.pull-right{
    width: 20px!important;
  }


}






.test {
  border: 2px solid red;
}

