$black: rgba(12, 12, 12, 0.9);
$text_on_black: #ddd;

.flash_message {
  position: fixed !important;
  top: 30% !important;
  left: 2.55%;
  width: 95%;
  z-index: 1000;
}
.flash_message.alert-success {
  background: #9fd1aa;
}
.flash_message.alert-info {
  background: #a28aea;
}
.flash_message.alert-danger {
  background: rgba(214, 61, 62, 0.39);
}

body{
  overflow-x:hidden;
}

#logo {
  height: 7.5rem;
}

.navbar-brand {
  height: auto;
  margin: 0;
  padding: 5px 15px 0;
}

.navbar-custom {
  margin: 0;
  border: none;
  background: transparent;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.navbar-brand:focus {
  outline: none;
}
#navbar ul.nav {
  color: $text_on_black;
  text-transform: uppercase;
  font-size: 18px;
  height: 7.5rem;      //instead of % to get 100% height if its impossible using percents
  display: flex;       // vertical alignment
  align-items: center;
  margin-right: 30px;
}

#navbar ul li a {
  padding: 20px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

#navbar ul li a:hover {
  padding: 20px;
  background: #ddd;
  color: #000;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.top-nav-collapse{
  background: rgba(0, 0, 0, 0.75);
  padding: 10px 0;
  color: $text_on_black;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

footer {
  background: $black;
  color: $text_on_black;
  padding-bottom: 10px;

  h2{
    text-transform: uppercase;
  }

  p {
    line-height: 2em;
    letter-spacing: 1.2px;
    font-size: 14px;
  }

  button {
    background: #fff!important;
    color: #010101 !important;
  }
}

section.home-carousel {
  margin:0;
  padding:0;
}

section.booking-home {
  background: $black;
  color: $text_on_black;
  height: 100px;
  padding: 0!important;

  h2{
    text-transform: uppercase;
    padding-top: 10px;
  }

  input {
    margin: 30px 0 0 0;
    background: $text_on_black!important;
    width: 200px;
    display:inline-block!important;
  }

  i {
    padding-top:35px;
    height: 42px!important;
    color: $text_on_black;
  }

  .find-rooms {
    background: #fff;
    color: $black;
    margin-top: 30px;
  }
  .find-rooms:hover {
    background: #cccaa7 !important;
  }

}

section#intro{
  margin-top: 40px;
}

section.amenities {
  margin-top: 80px;

  h2, p {
    text-align: center;
  }
  h2 {
    text-transform: capitalize;
  }
  img {
    width: 100%;
    max-height: 600px;
  }

}

section#rooms {
  margin: 80px 0 0 0;

  img{
    width: 100%;
    height:100% !important;
    filter:grayscale(70%);
  }
  .images  {
    position: relative !important;
    margin: 0!important;
    padding: 10px 10px!important;
  }
  img:hover{
    filter:grayscale(0);
    transform: scale(1.02);
    transition: all .7s ease-out
  }
  .captions {
    display: block;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); // vertically and horizontally center this absolutely positioned div
    text-align: center;

    .well {
      background: rgba(0, 0, 0, 0.6)
    }
  }

  a {
    color: $text_on_black;
  }
  a:hover {
    text-decoration: none;
  }

}
section#addServices {
  padding: 0 50px;
  margin-top: 40px;
  margin-bottom: 40px;

  h1{
    margin-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
  h3 {
    padding: 0 5px 5px;
  }
  h1, h3 {
    display: inline-block;
    border-bottom: 1px solid #ddd;
  }
  .service {
    margin-bottom: 40px;
    min-height: 100%;  /* vertical align div with text in a row */
    display: flex;
    align-items: center;
  }
  .service img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
}


@media (min-width: 770px) and (max-width: 1070px) {
  .navbar-nav a{
    margin: 0;
    padding: 10px!important;
  }
  section.booking-home {
    h2{
      font-size: 20px;
      margin-top: 30px;
    }
    input{
      width: 120px!important;
    }
  }
  
}

@media (min-width: 991px) and (max-width: 1400px) {
  section#rooms {
    .captions {
      width: 70%;
      padding: 5px;
      h3{
        font-size: 18px;
        padding: 0;
        margin: 0;
      }
      hr{
        margin: 10px;
      }
      p{
        font-size: 14px;
        padding: 0;
        margin: 0;
      }
    }
  }
}
@media (max-width: 500px){
  section#rooms {
    .captions {
      width: 70%;
      padding: 5px;
      h3{
        font-size: 18px;
        padding: 0;
        margin: 0;
      }
      hr{
        margin: 10px;
      }
      p{
        font-size: 14px;
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media (max-width: 770px){

  .top-nav-collapse{
    background: rgba(28, 28, 28, 0.97);
    padding: 10px 0;
    color: $text_on_black;
  }
  .navbar-custom {
    margin: 0;
    border: none;
    background: rgba(28, 28, 28, 0.97);
  }

  section.booking-home{
    height: auto;
    width: 100%;
    text-align: center;
    input{
      width: 80%;
    }
    padding-bottom: 10px!important;
  }
  #logo {
    display: none;
  }

  #navbar ul.navbar-nav {
    height: auto;
    display: block;
  }

  body p {
    font-size: 12px;
  }

  section#addServices{
    padding: 5px;
    h3{
      margin: 0;
    }
    h1{
      font-size: 22px;
      margin: 10px;
    }
    h3 {
      font-size: 18px;
    }
    .service {
      margin: 1px;
      display: block;
      text-align: center;
    }

  }

}

/* ============================= SEARCH RESULTS ============================================*/

div#searchSlideShow{
  margin-top: 0;
  min-height: 40vw;
}

section.search-terms {
  margin: 0!important;
  background: rgba(203, 204, 159, 0.41);
  height: 100px;

  .picker {
    margin-top: -12px;
  }
  .checkbox{
    padding-top: 15px;
  }

  .terms {
    padding-top: 15px;
  }

 .apply-search {
   height: 100px;
   background-color: rgba(139, 139, 121, 0.37);
   -moz-transition: all .5s ease-in;
   -webkit-transition: all .5s ease-in;
   -o-transition: all .5s ease-in;
   transition: all .5s ease-in;
 }

  h3{
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: normal;
    color: #626262;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }
  .apply-search:hover {
    background-color: rgba(94, 94, 78, 0.59);
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    cursor: pointer!important;
    h3{
      color: #cecece;
      -moz-transition: all .5s ease-in;
      -webkit-transition: all .5s ease-in;
      -o-transition: all .5s ease-in;
      transition: all .5s ease-in;
    }
  }


  a:hover{
    text-decoration: none;
  }

  label {
    font-weight: normal;
    font-family:"Segoe UI","Source Sans Pro";
  }

}

section.search-results {

  h2{
    margin-left: 20px;
  }

  .panel-body {

    img{
      width: 100%;
    }
    h3{
      color: #000;
    }
    h3:hover {
      color:#ccc;
    }
    a, h3 {
      display: inline-block;
    }
    .left-arrow, .right-arrow{
      opacity: 0.6;
      z-index: 1000;
    }

    .left-arrow:hover, .right-arrow:hover{
      opacity: 1;
      color: #aaaaaa;
      cursor: pointer;
    }

    .left-arrow{
      position: absolute;
      top: 45%;
    }
    .right-arrow {
      position: absolute;
      right:0;
      top: 45%;
    }
    .rotate_180 {
      -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
      -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(180deg);  /* IE 9 */
      -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
      transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
      -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
      -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
      -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
      transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    }
    .rotate_360 {
      -webkit-transform: rotate(0deg);  /* Chrome, Safari 3.1+ */
      -moz-transform: rotate(0deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(0deg);  /* IE 9 */
      -o-transform: rotate(0deg);  /* Opera 10.50-12.00 */
      transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
      -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
      -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
      -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
      transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    }

  }



  .panel-footer{
    img{
      width: 50%;
    }

    .info {
      padding-top: 10px;
      padding-left: 10px;
    }
  }


  .border-bottom {
    border-bottom: 1px solid #dddddd;
  }

  .bookit {
    margin-top: 10px;
  }

  .pagination-lg a {
    color: #000;
  }
  .pagination-lg a:hover {
     color: rgba(111, 111, 111, 0.88);
   }

}

@media (min-width: 991px) and (max-width: 1300px){
  .bookit{position: relative; left: -50px;}
  .search-terms p {
    font-size: 12px;
  }
  .search-terms h4 {
    font-size: 16px!important;
  }
}
@media (max-width:990px) {
  section.search-terms{
    height: auto!important;
  }
}
@media (max-width: 720px) {
  .search-results .panel-footer p {
    font-size: 12px;

  }
}
@media (max-width: 441px) {
  .icon-room {width: 100%!important;}
  .panel h3 {
    font-size: 18px;
  }
  .page-header{
    font-size: 26px!important;
  }

  .pagination a{
    padding: 10px!important;
  }
}

/*========================= PREBOOK PAGE =======================================*/
section.search-terms.prebook {
  margin-top: 0;

}

section.header {
  padding-left: 40px !important;
  padding-right: 40px!important;
}

section.extras {
  padding-left: 40px!important;
  padding-right: 40px!important;

  .selects, .breakfast{
    width: 250px;
  }

  img {
    width: 100%;
  }
  img.icon {
    width: 20%!important;
    position: absolute;
    top: 12%;
    left: -5%;
  }

  .form-group.breakfast {
    margin-top: 20px;
  }
  .extras {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    h3, input{
      display: inline-block;
      margin: 0!important;
      padding: 0!important;
    }
    p{
      margin: 10px 0 0 0!important;
    }
    .icheckbox_flat {
      position: absolute!important;
      right: 15px!important;
      margin-top: 20px;
    }

  }

  .checkbox-input.pull-right{
    width: 20px!important;
  }


}

section#credentials {
  margin-top: 70px;
  padding-left: 40px;
  padding-right: 40px;

  h3 {
    margin-bottom: 40px;
  }

  button, #facebook {
    margin-top: 40px;
  }

  #facebook i{
    color: #000092;
  }
  #arrival, #wishes {
    height: 100px;
  }
}

@media (max-width: 770px){
  .col-sm-4 > div.selects, .col-sm-4 > div.breakfast{
    width: 100%;
  }
  section.extras .selects {
    margin-top: 20px;
  }
  section.extras .checkboxes .icheckbox_flat{
    top: -55px;
  }

}
@media (max-width: 444px){
  section.header {
    display: none;
  }
  section#credentials {
    margin-top: 20px;
    h3 {
      font-size: 20px;
    }
  }
  .row#buttons {
    text-align: center;
  }
  section.extras .extras div p {
    display: none;
  }
  section.extras .extras div h3 {
    font-size: 16px;
  }
  section.extras .checkboxes .icheckbox_flat{
    top: -35px;
  }

}

/*==================== BOOKING SUCCESS PAGE ==============================================*/
section#booking-success {
  padding-top: 100px;
  height: 80vh;
  background: url(../img/shells_grey.png) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  color: $text_on_black;
}

/*==================================== DINING PAGE =====================================================*/
div#restaurantSlideShow{
  margin-top: 0;
  height: 40vw;
}
section#diningLanding{
  min-height: 70vh;
  margin-bottom: 80px;
  margin-top: 40px;
  div#formCategories {
    padding-top: 50px;
  }
  h1{
    margin-top:0;
  }
  #formCategories {
    padding-top: 10px;
  }
  button {
    margin-left: 20px;
  }
}
section#coursesLanding{
  margin-bottom: 80px;
  div#formCategories {
    padding-top: 50px;
  }
  label {
    margin-right: 10px;
  }
  h1{
    margin-top:0;
  }
  #formCategories {
    padding-top: 10px;
  }
  button {
    margin-left: 20px;
  }
}
.test {
  border: 2px solid red;
}

section#courses {
  padding-bottom: 40px;
  .course {
    margin-bottom: 60px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 40px 40px 20px;
  }
  h3{
    margin-top: 0;
  }
  img {
    width: 300px;
    height: auto;
    max-height: 150px;
    object-fit: cover!important;
  }

}

@media (max-width: 441px){
  section#coursesLanding{
    margin-bottom: 10px;

    .col-sm-7 form .form-group{
      margin-right: 20%;
      width: 60%;
    }

  }
  section#courses {

    .row.course {
      margin-bottom: 20px;
      padding: 20px 40px 20px;
      p {
        font-size: 12px;
      }
    }
  }
}

/*========================= STYLES FOR GALLERY PAGES =========================================*/

div#beachSlideShow{
  margin-top: 0;
  height: 40vw;
}

section#galleryBeach {
  margin-bottom: 0;
  margin-top: 40px;

  section#galleryBeach {
    margin-bottom: 80px;
  }
  #beachPhotos {
   margin-top: 40px;
  }

}
// masonry styles
.grid-sizer, .masonry-item {
  width: 32%;
}
.gutter-sizer {
  width: 1%
}
.masonry-item-width-2.masonry-item {
  width: 65%;
}
.masonry-item {
  margin-bottom: 1%;
}
.masonry-item img{
  width: 100%;
  height: auto;
  filter: opacity(1);
  -webkit-transition: filter 7s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: filter 7s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: filter 7s cubic-bezier(0.19, 1, 0.22, 1);
  transition: filter 7s cubic-bezier(0.19, 1, 0.22, 1);
}

.masonry-item img:hover{
  filter: opacity(0.4);
  -webkit-filter: opacity(0.4);
  -ms-filter: opacity(0.4);
  -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition:all 2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 770px){
  .grid-sizer, .masonry-item {
    width: 49%!important;
  }
  .masonry-item-width-2.masonry-item {
    width: 99%!important;
  }
}

/*================================ SPA, PARTY, VIEW PAGES ============================================*/

div#spaSlideShow{
  margin-top: 0;
  height: 40vw;
}
section#gallerySpa {
  margin-bottom: 70px;
  margin-top: 40px;
  #spaPhotos {
    margin-top: 80px;
  }

}

div#partySlideShow{
  margin-top: 0;
  height: 40vw;
}
section#galleryParty {
  margin-bottom: 70px;
  margin-top: 40px;
  #partyPhotos {
    margin-top: 80px;
  }
}




