{% extends "base.html" %}

{% block title %}SignUP{% endblock %}

{% block footer %}
<!--hide and show password button script -->
<script src="/js/hideShowPassword.js"></script>

    <script>
        // custom method to validate password using regex
        $.validator.addMethod('validPassword',
            function (value, element, param) {
               if(value != ''){
                   if(value.match(/.*[a-z]+.*/i) == null){
                       return false;
                   }
                   if(value.match(/.*\d+.*/) == null){
                       return false;
                   }
               }
                return true;
            },
            'Must contain at least one letter and one number'
        );

        //form validation using jQuery Validate plagin
        $(document).ready(function() {

            $('#signUpForm').validate({
                rules: {
                    first_name: {
                        required: true,
                        minlength: 2
                    },
                    last_name: {
                        required: true,
                        minlength: 2
                    },
                    email: {
                        required: true,
                        email: true,
                        // this line for ajax request from the database to validate the an email wasn't already taken
                        //this is a path to the controller and a method inside
                        remote: '/account/validate-email'
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true //here we call our custom method to validate password
                    }

                },
                messages: {
                    email: {
                        required: 'Hey, we do need your email!',
                        remote: 'This email is already taken'
                    },
                    first_name: {
                        required: 'Please tell me your name',
                        minlength: 'Name should be at least 2 characters'
                    },
                    last_name: {
                        required: 'Please tell me your last name',
                        minlength: 'Last name should be at least 2 characters'
                    }
                }
            });

            /**
             * Show password toggle button
             */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });

    </script>

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-6 offset-3">
    <h1>Welcome</h1>
   <!------------------------------------------ displaying of error messages ----------------------------------------------->
    {% if user.errors is not empty %}
    <p>Errors</p>
    <ul>
        {% for error in user.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<form method="post" action="/signup/create" id="signUpForm">

    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input class="form-control" id="inputFirstName" name="first_name" placeholder="First name" autofocus value="{{ user.first_name }}" />
    </div>
    <div class="form-group">
        <label for="inputLastName">First Name</label>
        <input class="form-control" id="inputLastName" name="last_name" placeholder="Last name" autofocus value="{{ user.last_name }}" />
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input class="form-control" id="inputEmail" type="email" name="email" placeholder="email address" value="{{ user.email}}"/>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input class="form-control"  type="password" id="inputPassword" name="password" placeholder="Password"/>
    </div>


    <button class="btn btn-default" type="submit">Sign up</button>


</form>
    </div>
</div>


{% endblock %}