{% extends "admin_base.html" %}

{% block title %}Create a category{% endblock %}
{% block page_heading %}Create a category{% endblock %}
{% block page_subheading %}{% endblock %}


{% block footer %}
<script>

    // TINYMCE TEXTAREA PLUGIN
    tinymce.init({
        forced_root_block : "",
        browser_spellcheck: true,
        selector: 'textarea'
    });
</script>

{% endblock %}


{% block body %}

{% if category.errors is not empty %}
<div class="row wrap alert alert-danger">
    <ul>
        {% for error in category.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="row wrap">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="form-horizontal" method="post" action="/admin/restaurant/save-category">

            <div class="form-group">
                <label for="categoryName" class="control-label col-lg-2">Category Name</label>
                <div class="col-lg-10">
                    <input id="categoryName" name="category_name" type="text" class="form-control" value="{{category.category_name}}">
                </div>
            </div>

            <div class="form-group">
                <label for="categoryDescription" class="control-label col-lg-2">Description</label>
                <div class="col-lg-10">
                    <textarea id="categoryDescription" name="category_description" rows="5" type="text" class="form-control">{{category.category_description}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>



{% endblock %}

