{% extends "admin_base.html" %}

{% block title %}Edit category{% endblock %}
{% block page_heading %}Edit {{category.category_name}}{% endblock %}
{% block page_subheading %}{% endblock %}


{% block footer %}
<script>


    // validation of tinyMCE
    $("#updateCategory").click(function() {

        var editorContent = tinyMCE.get('categoryDescription').getContent();           // get content from textarea
        if (editorContent == '' || editorContent == null || editorContent.length < 10)
        {
            // Add error message if not already present
            if (!$('#editor-error-message').html().length){
                $('#editor-error-message').html("Description should be at least 10 characters");
            }

            return false;


        }
        else
        {
            // Remove error message
            if ($('#editor-error-message')){
                $('#editor-error-message').empty();
            }

            return true;

        }

    });




    // jQuery validation
    var categoryID = '{{ category.category_id }}';

    $('#editCategoryForm').validate({
        rules: {
            category_name: {
                required: true,
                minlength: 2,
                remote: {
                    url: '/admin/restaurant/validate-category-name',
                    data: {
                        ignore_id: function () {
                            return categoryID
                        }
                    }
                }
            }
        },
        messages: {
            category_name: {
                required: "Please enter a course name",
                minlenght: "Name should be at least 2 characters long",
                remote: "This name is already taken"
            }
        }

    });

</script>

{% endblock %}


{% block body %}

{% if category.errors is not empty %}
<div class="row wrap alert alert-danger">
    <ul>
        {% for error in category.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="row wrap">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="form-horizontal" method="post" action="/admin/restaurant/update-category" id="editCategoryForm">

            <div class="form-group">
                <label for="categoryName" class="control-label col-lg-2">Category Name</label>
                <div class="col-lg-10">
                    <input id="categoryName" name="category_name" type="text" class="form-control" value="{{category.category_name}}">
                </div>
            </div>

            <div class="form-group">
                <label for="categoryDescription" class="control-label col-lg-2">Description</label>
                <div class="col-lg-10">
                    <textarea id="categoryDescription" name="category_description" rows="5" type="text" class="form-control">{{category.category_description}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="updateCategory">Save</button>
                    <a href="/admin/restaurant/delete-category?id={{category.category_id}}" class="btn btn-danger" data-toggle="confirmation" data-title="Delete this category?" data-popout="true" data-placement="top">Delete</a>
                    <div class="descerror">&nbsp;<span id="editor-error-message" class="error"></span></div>
                </div>
            </div>

            <!-- hidden input for passing value of category id to controller-->
            <input type="hidden" value="{{category.category_id}}" name="category_id">
        </form>
    </div>

</div>



{% endblock %}

