{% extends "admin_base.html" %}

{% block title %}Edit course{% endblock %}
{% block page_heading %}Edit{% endblock %}
{% block page_subheading %}{{course.course_name}}{% endblock %}


{% block footer %}

<script>

    // bootstrap upload files plugin
    $("#course-photo").fileinput({
        maxFileCount: 1
    });

   // validation of tinyMCE
   $("#create").click(function() {

        var editorContent = tinyMCE.get('courseDescription').getContent();           // get content from textarea
        if (editorContent == '' || editorContent == null || editorContent.length < 10)
        {
            // Add error message if not already present
            if (!$('#editor-error-message').html().length){
                $('#editor-error-message').html("Description should be at least 10 characters");
            }


            return false;


        }
        else
        {
            // Remove error message
            if ($('#editor-error-message')){
                $('#editor-error-message').empty();
            }

            return true;

        }

    });




    // jQuery validation
    var courseId = '{{course.course_id}}';  // this is course id to ignore in a remote method

    $('#createCourseForm').validate({
        rules: {
            course_name: {
                required: true,
                minlength: 2,
                remote: {
                    url: '/admin/restaurant/validate-course-name',
                    data: {
                        ignore_id: function () {
                            return courseId;
                        }
                    }
                }
            },
            course_price: {
                number: true
            }
        },
        messages: {
            course_name: {
                required: "Please enter a course name",
                minlenght: "Name should be at least 2 characters long",
                remote: "This course name is already taken"
            },
            course_price: {
                number: "Price should consist of numbers only"
            }
        }

    });



</script>

{% endblock %}


{% block body %}

{% if course.errors is not empty %}
<div class="row wrap alert alert-danger">
    <ul>
        {% for error in course.errors %}
        <li>{{ error }}</li>
        {% endfor %}

    </ul>
</div>
{% endif %}
{% for error in photo.errors_on_upload %}
<div class="row wrap alert alert-danger">
    <ul>
        <li>{{ error }}</li>
    </ul>
</div>
{% endfor %}

<div class="row wrap">
    <div class="course-container"><img  src="{{course.path}}"></div>
</div>

<div class="row wrap">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form id="createCourseForm" class="form-horizontal" enctype="multipart/form-data" method="post" action="/admin/restaurant/update-course">

            <div class="form-group col-lg-12">
                <label for="courseName" class="control-label col-lg-2">Course Name</label>
                <div class="col-lg-10">
                    <input id="courseName" name="course_name" type="text" class="form-control" value="{{course.course_name}}">
                </div>
            </div>

            <div class="form-group col-lg-12">
                <label for="categories" class="col-lg-2" id="categoryCourse">Select a category</label>
                <div class="col-lg-10">
                <select class="form-control" id="categories" name="category_id">
                    {% for category in categories %}
                    <option value="{{category.category_id}}" {% if course.category_id == category.category_id %} selected {% endif %}>{{category.category_name}}</option>
                    {% endfor %}
                </select>
                </div>
            </div>

            <div class="form-group col-lg-12">
                <label for="coursePrice" class="control-label col-lg-2">Course Price</label>
                <div class="col-lg-10">
                    <input id="coursePrice" name="course_price" type="text" class="form-control" value="{{course.price}}">
                </div>
            </div>

            <div class="form-group col-lg-12">
                <label class="control-label col-lg-2">Select a picture</label>
                <div class="col-lg-10">
                    <input id="course-photo" name="photo" multiple type="file"  data-allowed-file-extensions='["jpeg", "jpg", "png"]'>
                    <label for="course-photo">Don't upload any photos to keep current one</label>
                    <label for="course-photo" generated="true" class="error"></label>
                </div>
            </div>

            <div class="form-group col-lg-12">
                <label for="courseDescription" class="control-label col-lg-2">Description</label>
                <div class="col-lg-10">
                    <textarea id="courseDescription" name="course_description" rows="5" type="text" class="form-control">{{course.description}}</textarea>
                    <div class="descerror">&nbsp;<span id="editor-error-message" class="error"></span></div>
                </div>
            </div>
            <input type="hidden" name="course_id" value="{{course.course_id}}"><!-- this input for passing value of course_id -->
            <input type="hidden" name="old_filename" value="{{course.name}}"><!-- this input for passing value of current picture filename for deletion purposes -->

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="create">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock %}

