{% extends "base.html" %}

{% block title %}Our Beach{% endblock %}



{% block body %}
<section>
    <div data-rellax-speed="-10" class="rellax"  id="beachSlideShow"></div>
</section>

<section class="search-terms">
    <div class="row">
        <form method="post" id="searchRefineForm" action="/rooms/search-results">
            <div class="col-md-2 col-xs-6 col-md-offset-1 text-center terms picker">
                <h4><i class="fa fa-calendar"></i> Arrival</h4>
                <input id="checkin" type="text" class="form-control" name="checkin" value="{{checkin}}">
            </div>
            <div class="col-md-2 col-xs-6 text-center terms  picker">
                <h4><i class="fa fa-calendar"></i> Departure</h4>
                <input id="checkout" type="text" class="form-control" name="checkout" value="{{checkout}}">
            </div>
            <div class="col-md-2 col-xs-6 text-center terms">
                <h4><i class="fa fa-bed" aria-hidden="true"></i></i> Number of Guests</h4>
                <div class="wan-spinner demo">
                    <a href="javascript:void(0)" class="minus">-</a>
                    <input type="text" value="{% if num_guests %} {{num_guests}} {% else %} 1 {% endif %}" name="num_guests" >
                    <a href="javascript:void(0)" class="plus">+</a>
                </div>

            </div>
            <div class="col-md-2 col-xs-6 text-center checkbox terms">
                <label><h4><i class="fa fa-user"></i> Smoking Guests</h4></label>
                <input type="checkbox" name="smoking" {% if smoking %} checked="checked" {% else %}{% endif %}>
                <button type="submit" style="width: 1px; height: 1px; visibility: hidden"></button>
            </div>

        </form>
        <div class="col-md-2 col-sm-12 col-xs-12 text-center apply-search">
            <a id="apply-search"><h3>Apply Terms</h3></a>
        </div>
    </div>
</section>

<section id="galleryBeach">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <h1 class="page-header">BEACH&SWIMMING</h1>
                <h3>Expirience our private wild pristine beach</h3>
                <p>Our coastline has avoided the mass construction and urbanization that has befallen other pieces of beauty on the region</p>
                <p>Here you can enjoy swimming with frieds or family, sunbathing with a cocktail, behold beautiful sunset, go for scuba diving and discover colorful and vibrant corral life</p>
            </div>
        </div>
    </div>
    <div id="beachPhotos" class="row">
        <div class="col-md-8 col-md-offset-2">

        </div>
    </div>
</section>




{% endblock %}




{% block footer %}

<script>
    // sliders initialization
    $(document).ready(function (e) {

        //form submission on click of link APPLY TERMS
        $('#apply-search').click(function (event) {
            if(($('#checkout').val() != '') && ($('#checkin').val() != '')){
                $('#searchRefineForm').submit();
            }
            event.preventDefault();
        });
        // number picker
        $(".demo").WanSpinner({
            maxValue: 6,
            minValue: 1,
            inputWidth: 70
        });

        // vegas slideshow initialization
        $("#beachSlideShow").vegas({
            delay: 7000,
            transition: 'fade',
            transitionDuration: 2000,
            slides: [
                { src: "/img/gallery/beach/seastar.jpg" },
                { src: "/img/gallery/beach/pebbels.jpg" },
                { src: "/img/gallery/baech/sand.jpg" }
            ]
        })

    })

</script>



{% endblock %}
