{% extends "base_utility.html" %}

{% block title %}Reset Password{% endblock %}

{% block footer %}
<!--hide and sPasswordword button script -->
<script src="/js/hideShowPassword.js"></script>
<!--custom password validation script -->
<script src="/js/app.js"></script>

    <script>

        //form validation using jQuery Validate plagin
        $(document).ready(function() {

            $('#ResetPasswordForm').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true //here we call our custom method to validate Password
                    }

                },
                messages: {
                    email: {
                        required: 'Hey, we do need your password!',
                        minlength: 'Password should be at least 6 characters long'
                    }
                }
            });

            /**
             * Show Password toggle button
             */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });

    </script>

{% endblock %}

{% block body %}




<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <!------------------------------------------ displaying of error messages ----------------------------------------------->
        {% if user.errors is not empty %}
        <p class="lead">Please fix following error(s):</p>
        <ul>
            {% for error in user.errors %}
            <li class="error-validation-messsage">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}



<form method="post" action="/password/reset-password" id="ResetPasswordForm">

    <div class="form-group">
        <label for="inputPassword">Your new password</label>
        <input class="form-control"  type="password" id="inputPassword" name="password" placeholder="Password"/>
    </div>

    <!-- this is hidden input for transfering token value from url back to the controller through POST -->
    <input  name="token" value="{{ token }}" type="hidden"/>


    <button class="btn btn-default" type="submit">Reset</button>


</form>
    </div>
</div>


{% endblock %}