{% extends "admin_base.html" %}

{% block title %}all reviews{% endblock %}
{% block page_heading %}All reviews to {% endblock %}
{% block page_subheading %}{{reviews.0.room_name}}{% endblock %}


{% block footer %}

<script>

    {% for review in reviews %}

    // qtip for reviews' notes
    $('#qtip-{{review.review_id}}').qtip({
        title  : 'Guest\'s notes',
        content: {
            title  : 'Guest\'s notes',
            text   : '{{review.notes}}'
        },
        style : {
            classes: 'qtip-light'
        },
        position: {
            my  : 'top left',
            at  : 'bottom left',
            effect: function(api, pos, viewport) {
                // "this" refers to the tooltip
                $(this).animate(pos, {
                    duration: 600,
                    easing: 'linear',
                    queue: false // Set this to false so it doesn't interfere with the show/hide animations
                });
            }
        }
    });

    {% endfor %}



</script>



{% endblock %}


{% block body %}





<div class="row wrap">
    <form class="form-inline" method="post" id="sortBookings" action="/admin/reviews/sort-all-reviews-to-one-room?id={{ reviews.0.room_id}}">
            <div class="form-group">
                <label for="show_only">Sort by:</label>
                <select class="form-control" id="show_only" name="grade">
                    <option value="1" {% if params.grade == 1 %} selected {% endif %}>Only overall low</option>
                    <option value="2" {% if params.grade == 2 %} selected {% endif %}>Only overall middle</option>
                    <option value="3" {% if params.grade == 3 %} selected {% endif %}>Only overall high</option>
                </select>
            </div>
            <div class="form-group">
                <label for="period">Choose a period:</label>
                <select class="form-control" id="period" name="period">
                    <option value="0" {% if params.period == 0 %} selected {% endif %}>Today</option>
                    <option value="1" {% if params.period == 0 %} selected {% endif %}>Yesterday</option>
                    <option value="3" {% if params.period == 3 %} selected {% endif %}>Over the past 3 days</option>
                    <option value="7" {% if params.period == 7 %} selected {% endif %}>Over the past week</option>
                    <option value="15" {% if params.period == 15 %} selected {% endif %}>Over the past 15 days</option>
                    <option value="30" {% if params.period == 30 %} selected {% endif %}>Over the past month</option>
                    <option value="90" {% if params.period == 90 %} selected {% endif %}>Over the past 3 month</option>
                    <option value="183" {% if params.period == 183 %} selected {% endif %}>Over the past 6 month</option>
                    <option value="365" {% if params.period == 365 %} selected {% endif %}>Over the past year</option>
                </select>
            </div>
            <div class="radio">
                <label class="order"><input type="radio"  name="order" value="0" {% if params.order == 0 %} checked {% endif %}>Old first</label>
            </div>
            <div class="radio">
                <label class="order"><input type="radio"  name="order" value="1" {% if params.order == 1 %} checked {% endif %}>New first</label>
            </div>
            <div class="row">
                <button class="btn btn-primary" type="submit" id="sortAll" >Apply</button>
                {% if params is not empty %}  <a  class="btn btn-default" href="/admin/bookings/view-all-bookings" id="viewAll">View all</a> {% endif %}
            </div>

    </form>

</div>

{% if reviews is not empty %}

{% for review in reviews %}


<div class="row wrap {% if review.overall < 5 %}review-low {% elseif 5 <= review.overall and review.overall < 7 %}review-middle {% else %}review-high {% endif %}">



    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6  tre" id="qtip-{{ review.review_id }}"><span>{{ review.title }} {{ review.first_name }} {{ review.last_name }}</span></div>
    <div class="col-lg-8 col-md-8">
        <div class="row table-reviews">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 cells alert alert-{% if review.cleanliness < 5 %}danger {% elseif 5 <= review.cleanliness and review.cleanliness < 7 %}warning {% else %}success {% endif %}"><span>Clean: {{review.cleanliness}}</span></div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 cells alert alert-{% if review.comfort < 5 %}danger {% elseif 5 <= review.comfort and review.comfort < 7 %}warning {% else %}success {% endif %}"><span>Comfort: {{ review.comfort }}</span></div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 cells alert alert-{% if review.service < 5 %}danger {% elseif 5 <= review.service and review.service < 7 %}warning {% else %}success {% endif %}"><span>Service: {{ review.service }}</span></div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 cells alert alert-{% if review.food < 5 %}danger {% elseif 5 <= review.food and review.food < 7 %}warning {% else %}success {% endif %}"><span>Food: {{ review.food }}</span></div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 cells alert alert-{% if review.location < 5 %}danger {% elseif 5 <= review.location and review.location < 7 %}warning {% else %}success {% endif %}"><span>Location: {{ review.location }}</span></div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 cells alert alert-{% if review.overall < 5 %}danger {% elseif 5 <= review.overall and review.overall < 7 %}warning {% else %}success {% endif %}"><span>Overall: {{ review.overall }}</span></div>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 inner"><a class="btn btn-default" href="/admin/bookings/check-booking?id={{ review.booking_id }}">View</a></div>


</div>



{% endfor %}

{% else %}

<div class="row wrap">
    <h3>There are currently no reviews for this room</h3>
</div>

{% endif %}

{% endblock %}

