{% extends "base.html" %}

{% block title %}Restaurant{% endblock %}



{% block body %}
<section>
    <div data-rellax-speed="-10" class="rellax"  id="restaurantSlideShow"></div>
</section>

<section class="search-terms">
    <div class="row">
        <form method="post" id="searchRefineForm" action="/rooms/search-results">
            <div class="col-md-2 col-xs-6 col-md-offset-1 text-center terms picker">
                <h4><i class="fa fa-calendar"></i> Arrival</h4>
                <input id="checkin" type="text" class="form-control" name="checkin" value="{{checkin}}">
            </div>
            <div class="col-md-2 col-xs-6 text-center terms  picker">
                <h4><i class="fa fa-calendar"></i> Departure</h4>
                <input id="checkout" type="text" class="form-control" name="checkout" value="{{checkout}}">
            </div>
            <div class="col-md-2 col-xs-6 text-center terms">
                <h4><i class="fa fa-bed" aria-hidden="true"></i></i> Number of Guests</h4>
                <div class="wan-spinner demo">
                    <a href="javascript:void(0)" class="minus">-</a>
                    <input type="text" value="{% if num_guests %} {{num_guests}} {% else %} 1 {% endif %}" name="num_guests" >
                    <a href="javascript:void(0)" class="plus">+</a>
                </div>

            </div>
            <div class="col-md-2 col-xs-6 text-center checkbox terms">
                <label><h4><i class="fa fa-user"></i> Smoking Guests</h4></label>
                <input type="checkbox" name="smoking" {% if smoking %} checked="checked" {% else %}{% endif %}>
                <button type="submit" style="width: 1px; height: 1px; visibility: hidden"></button>
            </div>

        </form>
        <div class="col-md-2 col-sm-12 col-xs-12 text-center apply-search">
            <a id="apply-search"><h3>Apply Terms</h3></a>
        </div>
    </div>
</section>
<section id="navigationDining">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</section>
<section id="coursesLanding">
    <div class="container-fluid">
        <div class="row" id="formCategories">
            <div class="col-sm-5">
                <h1 class="page-header">BAR&RESTAURANT</h1>
            </div>
            <div class="col-sm-4 col-sm-offset-3">
                <form class="form-inline" method="post" id="searchCategoryForm" action="/restaurant/show-category">
                    <div class="form-group">
                        <label>Category:</label>
                        <select class="form-control"  name="category">
                            {% for category in categories %}
                            <option value="{{category.category_id}}">{{category.category_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" type="submit">CHECK IT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="courses">
    <div class="container-fluid">
        {% for course in courses %}
        <div class="row">
            <div class="col-sm-7 col-sm-offset-2">
                <div class="row course">
                    <div class="col-sm-4">
                        <img src="{{course.path}}" class="img-responsive">
                    </div>
                    <div class="col-sm-8">
                        <h3>{{course.course_name}}<small> {{course.category_name}}</small></h3>
                        {{course.description}}
                    </div>
                    <div class="pull-right price"><h4>Price:{{course.price}}{{currency_sign}}</h4></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>




{% endblock %}




{% block footer %}

<script>
    // sliders initialization
    $(document).ready(function (e) {

        //form submission on click of link APPLY TERMS
        $('#apply-search').click(function (event) {
            if(($('#checkout').val() != '') && ($('#checkin').val() != '')){
                $('#searchRefineForm').submit();
            }
            event.preventDefault();
        });
        // number picker
        $(".demo").WanSpinner({
            maxValue: 6,
            minValue: 1,
            inputWidth: 70
        });

        // vegas slideshow initialization
        $("#restaurantSlideShow").vegas({
            delay: 7000,
            transition: 'fade',
            transitionDuration: 2000,
            slides: [
                { src: "/img/restaurant/spicy.jpeg" },
                { src: "/img/restaurant/food.jpeg" },
                { src: "/img/restaurant/spicy3.jpeg" },
                { src: "/img/restaurant/food1.jpg" }
            ]
        })

    })

</script>



{% endblock %}
