{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}



<section class="home-carousel">
    <ul class="slider rellax" data-rellax-speed="-12">
        <li><img src="/img/boat.jpg"></li>
        <li><img src="/img/lotos.jpg"></li>
        <li><img src="/img/otres.jpg"></li>
        <li><img src="/img/sunset.jpg"></li>
        <li><img src="/img/tinker_island.jpg"></li>
    </ul>
</section>
<section class="booking-home">
    <div class="container-fluid">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <h2>Book it online</h2>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <input id="checkin" type="text" class="form-control">
                    <i class="fa fa-calendar fa-2x"></i>
                </div>
                <div class="col-md-3">
                    <input id="checkout" type="text"/>
                    <i class="fa fa-calendar fa-2x"></i>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary find-rooms">Find Rooms</button>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="amenities">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="#"><img src="/img/beach.png" class="img-responsive" ></a>
            <h2>Beautiful Beach</h2>
            <p>We have our own beach with clean white sand and turquise water. You can spend days swimming, enjoying cocktails or snorcling as well as scuba diving</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#"><img src="/img/spa.png" class="img-responsive"></a>
            <h2>SPA center</h2>
            <p>Spa center of the hotel offers an indoor pool with jacuzzi, dry sauna with aromatic oils, steam bath and the most modern gym in which there is an upright bike, orbitek Elliptical, treadmill and others. </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#"><img src="img/cocktails.png" class="img-responsive"></a>
            <h2>Cocktail Evenings</h2>
            <p>We organize cocktail parties for our guests ever evening with an amazing variety of cocktails from different parts of the world. Our barmens are professionals who will surprise you every time  </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#"><img src="img/view.png" class="img-responsive"></a>
            <h2>Spectacular views</h2>
            <p>You can behold an amazing view of sea, island and city from your window, bower and roof of our hotel at day or at night</p>
        </div>
    </div>
    </div>
</section>

<section id="rooms">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 images">
                    <a href="#">
                        <img src="img/rooms/family_one_bedroom.jpg"  class="img-responsive">
                        <div class="captions">
                            <div class="well">
                                <h3>Family One-Bedroom Executive Suite</h3>
                                <hr>
                                <p>On of the best options for families with children</p>
                            </div>
                        </div>
                    </a>
            </div>
            <div class="col-md-4 images">
                <a href="#">
                    <img src="img/rooms/three_bedroom_grand_suite.jpg"  class="img-responsive">
                    <div class="captions">
                        <div class="well">
                            <h3>Three Bedroom Grand Suite</h3>
                            <hr>
                            <p>A huge option with amazing cityscape view</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 images">
                <a href="#">
                    <img src="img/rooms/family_one_bedroom.jpg" class="img-responsive">
                    <div class="captions">
                        <div class="well">
                            <h3>Three Bedroom Grand Suite</h3>
                            <hr>
                            <p>Exquisite Interior And Modern Design</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 images">
                <a href="#">
                    <img src="img/rooms/one_bedroom_garden.jpg" class="img-responsive">
                    <div class="captions">
                        <div class="well">
                            <h3>One Bedroom Room With Garden View</h3>
                            <hr>
                            <p>A budget option for backpackers</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 images">
                <a href="#">
                    <img src="img/rooms/delux.jpg" class="img-responsive">
                    <div class="captions">
                        <div class="well">
                            <h3>Delux Room With Seaview</h3>
                            <hr>
                            <p>A luxury option with spectacular view of the coastline</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block footer %}
<script>
    // Also can pass in optional settings block
    var rellax = new Rellax('.rellax');
</script>
<script>



    // easing
    jQuery.easing.def = "easeOutCirc";

    // slider initialization
    $(".slider").slider({
        speed: 1200,
        delay: 5000,
        pagination: true,
        height: '500px',
        buttons: {
            prev: "<div class='prev slider-buttons'><span>&#8249;</span></div>",
            next: "<div class='next slider-buttons'><span>&#8250;</span></div>"
         }
    });



    $(document).ready(function () {


        var checkOutCalendar =   $("#checkout").flatpickr({
            altInput: true
        });

        var checkInCalendar = $("#checkin").flatpickr({
            minDate: new Date(),
            altInput: true,
            onChange: function(selectedDates, dateStr, instance){

                var checkin = selectedDates[0];
                var checkOut = new Date(checkin);
                checkOut.setDate(checkOut.getDate() + 1);
                checkOutCalendar.clear();
                checkOutCalendar.jumpToDate(checkOut);
                checkOutCalendar.setDate(checkOut);
                checkOutCalendar.set('minDate', checkOut);
                checkOutCalendar.open();

            }
        });

    });



</script>
{% endblock %}
