{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}


<section class="home-carousel">
        <div id="homeCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#homeCarousel" data-slide-to="1"></li>
                <li data-target="#homeCarousel" data-slide-to="2"></li>
                <li data-target="#homeCarousel" data-slide-to="3"></li>
                <li data-target="#homeCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/img/boat.jpg" alt="sunset on the beach">
                </div>
                <div class="item">
                    <img src="/img/lotos.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="/img/otres.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="/img/sunset.jpg" alt="...">
                </div>
                <div class="item">
                    <img src="/img/tinker_island.jpg" alt="...">
                </div>
            </div>
        </div>
</section>
<section class="booking-home">
    <div class="container-fluid">

    </div>
</section>












{% endblock %}
