{% extends "admin_base.html" %}

{% block title %}Home{% endblock %}
{% block page_heading %}Welcome back, {{ current_user.first_name }} {% endblock %}

{% block body %}

<!-- Step 1: Create the containing elements. -->
<script>
    (function(w,d,s,g,js,fs){
        g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
        js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
        js.src='https://apis.google.com/js/platform.js';
        fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
    }(window,document,'script'));
</script>

<script>

    gapi.analytics.ready(function() {

        /**
         * Authorize the user immediately if the user has already granted access.
         * If no access has been created, render an authorize button inside the
         * element with the ID "embed-api-auth-container".
         */
        gapi.analytics.auth.authorize({
            container: 'embed-api-auth-container',
            clientid: '474566537378-ajik84mbt7jlnf9n73bjin4h37cfk0op.apps.googleusercontent.com'
        });


        /**
         * Create a ViewSelector for the first view to be rendered inside of an
         * element with the id "view-selector-1-container".
         */
        var viewSelector1 = new gapi.analytics.ViewSelector({
            container: 'view-selector-1-container'
        });

        /**
         * Create a ViewSelector for the second view to be rendered inside of an
         * element with the id "view-selector-2-container".
         */
        var viewSelector2 = new gapi.analytics.ViewSelector({
            container: 'view-selector-2-container'
        });

        // Render both view selectors to the page.
        viewSelector1.execute();
        viewSelector2.execute();


        /**
         * Create the first DataChart for top countries over the past 30 days.
         * It will be rendered inside an element with the id "chart-1-container".
         */
        var dataChart1 = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:sessions',
                dimensions: 'ga:country',
                'start-date': '30daysAgo',
                'end-date': 'today',
                'max-results': 12,
                sort: '-ga:sessions'
            },
            chart: {
                container: 'chart-1-container',
                type: 'GEO',
                options: {
                    width: '100%',
                    region: '035',
                    colorAxis: {colors: ['#e8b67a', '#fcfc8f', '#d0fc8f', '#9bf7b2', '#6df2de', '#30a7e8', '#f28790']},
                    showLegend: true,
                    legend: {
                        textStyle: {color: 'black', fontSize: 14}
                    }
                }
            }
        });


        /**
         * Create the second DataChart for top countries over the past 30 days.
         * It will be rendered inside an element with the id "chart-2-container".
         */
        var dataChart2 = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:sessions',
                dimensions: 'ga:date',
                'start-date': '7daysAgo',
                'end-date': 'today'
            },
            chart: {
                container: 'chart-2-container',
                type: 'LINE',
                animation: {
                    startup: true
                },
                options: {
                    title: 'The number of users',
                    legend: 'none',
                    vAxis: {
                        minValue: 0
                    },

                    width: '100%'
                }
            }
        });

        /**
         * Update the first dataChart when the first view selecter is changed.
         */
        viewSelector1.on('change', function(ids) {
            dataChart1.set({query: {ids: ids}}).execute();
        });

        /**
         * Update the second dataChart when the second view selecter is changed.
         */
        viewSelector2.on('change', function(ids) {
            dataChart2.set({query: {ids: ids}}).execute();
        });

    });
</script>

<div id="embed-api-auth-container"></div>
<div class="row wrap">
    {% if notifications is not empty %}

    <h2>You've got something to see!</h2>
    <p class="lead">Since your last visit:</p>
    <ul>
        {% if events.new_bookings != 0  %}<li>{{events.new_bookings}}{% if events.new_bookings > 1 %} bookings were made {% else %} booking was made {% endif %}</li>{% endif %}
        {% if events.cancellations != 0 %}<li>{{events.cancellations }} {% if events.cancellations > 1 %} bookings were cancelled {% else %} booking was cancelled {% endif %}</li>{% endif %}
        {% if events.new_users     != 0 %}<li>{{events.new_users}} {% if events.new_users > 1 %} users registered in {% else %} user registered in {% endif %} {{site_name}}</li>{% endif %}
        {% if events.activated_users != 0  %}<li>{{events.activated_users}} {% if events.activated_users > 1 %} users activated accounts {% else %} user activated account {% endif %}</li>{% endif %}
    </ul>

    <a href="/admin/bookings/view-new?booking_ids[ids]={% for booking_id in events.booking_ids %} {{booking_id}}, {% endfor %}">View</a>

    {% else %}

    <h2>Nothing new has happened since your last visit</h2>

    {% endif %}
</div>

<div class="row wrap">
    <div class="col-lg-6">
        <div class="graph-container">
            <div id="view-selector-1-container"></div>
            <div id="chart-1-container"></div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="graph-container">
            <div id="view-selector-2-container"></div>
            <div id="chart-2-container"></div>
        </div>
    </div>
</div>



{% endblock %}

