{% extends "admin_base.html" %}

{% block title %}Home{% endblock %}
{% block page_heading %}Welcome back, {{ current_user.first_name }} {% endblock %}

{% block body %}


<div id="embed-api-auth-container" class="inline"></div>
<div id="view-name" class="inline"></div>
<div class="row wrap">
    {% if notifications is not empty %}
    <div class="col-lg-3 col-md-12 col-xs-12">
        <p class="lead last-visit">Since your last visit:</p>
    </div>
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <ul id="sinceLastVisit">
            {% if events.new_bookings != 0  %}<li><a href="/admin/bookings/view-new?booking_ids[ids]={% for booking_id in events.booking_ids %} {{booking_id}}, {% endfor %}">{{events.new_bookings}}{% if events.new_bookings > 1 %} new bookings {% else %} new booking{% endif %}</a></li>{% endif %}
            {% if events.cancellations != 0 %}<li><a href="/admin/bookings/view-new?booking_ids[ids]={% for booking_id in events.booking_ids %} {{booking_id}}, {% endfor %}">{{events.cancellations }} {% if events.cancellations > 1 %} cancelled {% else %} cancelled {% endif %}</a></li>{% endif %}
            {% if events.new_users     != 0 %}<li><a>{{events.new_users}} {% if events.new_users > 1 %} new users {% else %} new user{% endif %}</a></li>{% endif %}
            {% if events.activated_users != 0  %}<li><a>{{events.activated_users}} {% if events.activated_users > 1 %} activated  {% else %} activated  {% endif %}</a></li>{% endif %}
        </ul>
    </div>




    {% else %}

    <h2>Nothing new has happened since your last visit</h2>

    {% endif %}
</div>


<script>

    gapi.analytics.ready(function() {

        /**
         * Authorize the user immediately if the user has already granted access.
         * If no access has been created, render an authorize button inside the
         * element with the ID "embed-api-auth-container".
         */
        gapi.analytics.auth.authorize({
            container: 'embed-api-auth-container2',
            clientid: '474566537378-ajik84mbt7jlnf9n73bjin4h37cfk0op.apps.googleusercontent.com'
        });


        /**
         * Create a new ViewSelector instance to be rendered inside of an
         * element with the id "view-selector-container".
         */
        var viewSelector = new gapi.analytics.ViewSelector({
            container: 'view-selector-container2'
        });

        // Render the view selector to the page.
        viewSelector.execute();


        /**
         * Create a new DataChart instance with the given query parameters
         * and Google chart options. It will be rendered inside an element
         * with the id "chart-container".
         */
        var dataChart = new gapi.analytics.googleCharts.DataChart({
            query: {
                metrics: 'ga:sessions',
                dimensions: 'ga:country',
                'start-date': '30daysAgo',
                'end-date': 'today',
                'max-results': 12,
                sort: '-ga:sessions'
            },
            chart: {
                container: 'chart-container',
                type: 'GEO',
                options: {
                    width: '100%',
                    region: '035',
                    colorAxis: {colors: ['#e8b67a', '#fcfc8f', '#d0fc8f', '#9bf7b2', '#6df2de', '#30a7e8', '#f28790']},
                    showLegend: true,
                    legend: {
                        textStyle: {color: 'black', fontSize: 14}
                    }
                }
            }
        });


        /**
         * Render the dataChart on the page whenever a new view is selected.
         */
        viewSelector.on('change', function(ids) {
            dataChart.set({query: {ids: ids}}).execute();
        });

    });
</script>

<div class="row wrap">
    <header>
        <div id="view-selector-container"></div>
        <div id="active-users-container"></div>
    </header>
</div>

<div class="row wrap">
    <div class="col-lg-6">
        <div class="Chartjs">
            <h3>This Week vs Last Week (by sessions)</h3>
            <figure class="Chartjs-figure" id="chart-1-container"></figure>
            <ol class="Chartjs-legend" id="legend-1-container"></ol>
        </div>
    </div>
    <div class="col-lg-6">
        <div id="chart-container"></div>
    </div>
</div>
<div id="view-selector-container2" style="visibility: hidden"></div>
<div id="embed-api-auth-container2" style="visibility: hidden"></div>















{% endblock %}

