{% extends "base.html" %}

{% block title %}Search Results{% endblock %}



{% block body %}

<section class="search-terms prebook">
    <div class="row">
        <form method="post" id="searchRefine" action="/rooms/search-results">
            <div class="col-md-2 col-xs-6 col-md-offset-1 text-center terms picker">
                <h4><i class="fa fa-calendar"></i> Arrival</h4>
                <input id="checkin" type="text" class="form-control" name="checkin" value="{{checkin}}">
            </div>
            <div class="col-md-2 col-xs-6 text-center terms  picker">
                <h4><i class="fa fa-calendar"></i> Departure</h4>
                <input id="checkout" type="text" class="form-control" name="checkout" value="{{checkout}}">
            </div>
            <div class="col-md-2 col-xs-6 text-center terms">
                <h4><i class="fa fa-bed" aria-hidden="true"></i></i> Number of Guests</h4>
                <div class="wan-spinner demo">
                    <a href="javascript:void(0)" class="minus">-</a>
                    <input type="text" value="{% if num_guests %} {{num_guests}} {% else %} 1 {% endif %}" name="num_guests" >
                    <a href="javascript:void(0)" class="plus">+</a>
                </div>

            </div>
            <div class="col-md-2 col-xs-6 text-center checkbox terms">
                <label><h4><i class="fa fa-user"></i> Smoking Guests</h4></label>
                <input type="checkbox" name="smoking" {% if smoking %} checked="checked" {% else %}{% endif %}>
                <button type="submit" style="width: 1px; height: 1px; visibility: hidden"></button>
            </div>

        </form>
        <div class="col-md-2 col-sm-12 col-xs-12 text-center apply-search">
            <a id="apply-search"><h3>Apply Terms</h3></a>
        </div>
    </div>
</section>
<section class="header">
    <h1 class="page-header">Booking</h1>
</section>
<section class="extras">
    <div class="container-fluid">
        <div class="row extras">
            <h2>{{room.local_name}}<small> please choose extras if you want</small></h2>
            <div class="col-sm-4">
                <h3><img src="/img/icons/my-icons-collection-yellow/breakfast.png" class="icon"> Breakfast</h3>
                <img src="/img/food/breakfast.jpg">
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <div class="form-group breakfast  pull-right">
                    <label for="num_guests_breakfast">For how many guests</label>
                    <select class="form-control" id="num_guests_breakfast" name="num_guests_breakfast">
                        {% for i in 1..room.num_guests %}
                        <option>{{loop.index}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row extras">
            <div class="col-sm-8">
                <h3>Are you alone or with friends or family</h3>
                <p>Please tell us how big your company is</p>
            </div>
            <div class="col-sm-4">
                <div class="form-group pull-right" style="width: 150px!important;">
                    <label for="num_guests">How many guests</label>
                    <select class="form-control" id="num_guests" name="num_guests">
                        {% for i in 1..room.num_guests %}
                        <option>{{loop.index}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row extras">
            <div class="col-sm-10">
                <h3>Quite room</h3>
                <p>We can provide you with extra bit of privacy</p>
            </div>
            <div class="col-sm-2 checkboxes">
                <input type="checkbox" name="quite_room"  class="pull-right checkbox-input">
            </div>
        </div>
        <div class="row extras">
            <div class="col-sm-10">
                <h3>Smoking Guests</h3>
                <p>Please tell us if you want smoke in the room</p>
            </div>
            <div class="col-sm-2 checkboxes">
                <input type="checkbox" name="smoking"  class="pull-right checkbox-input">
            </div>
        </div>
        <div class="row extras">
            <div class="col-sm-10">
                <h3>Pets on vocation</h3>
                <p>We can organize facilities for your pets</p>
            </div>
            <div class="col-sm-2 checkboxes">
                <input type="checkbox" name="pets"  class="pull-right checkbox-input">
            </div>
        </div>
        <div class="row extras">
            <div class="col-sm-10">
                <h3>Keen driver</h3>
                <p>We can find a vehicle for you to rent</p>
            </div>
            <div class="col-sm-2 checkboxes">
                <input type="checkbox" name="quite_room"  class="pull-right checkbox-input">
            </div>
        </div>
    </div>
</section>

{% endblock %}




{% block footer %}
<script>

</script>


<script>


    // number picker
    $(".demo").WanSpinner({
        maxValue: 6,
        minValue: 1,
        inputWidth: 70
    });

    // trigger form submission on button click
    $('.apply-search').click(function () {
        $('#searchRefine').submit();
    });




</script>


{% endblock %}
