{% extends "base.html" %}

{% block title %}Search Results{% endblock %}



{% block body %}
<script type="text/javascript" src="/js/fb.js"></script>

<section class="search-terms prebook">
    <div class="row">
        <form method="post" id="searchRefine" action="/rooms/search-results">
            <div class="col-md-2 col-xs-6 col-md-offset-1 text-center terms picker">
                <h4><i class="fa fa-calendar"></i> Arrival</h4>
                <input id="checkin" type="text" class="form-control" name="checkin" value="{{checkin}}">
            </div>
            <div class="col-md-2 col-xs-6 text-center terms  picker">
                <h4><i class="fa fa-calendar"></i> Departure</h4>
                <input id="checkout" type="text" class="form-control" name="checkout" value="{{checkout}}">
            </div>
            <div class="col-md-2 col-xs-6 text-center terms">
                <h4><i class="fa fa-bed" aria-hidden="true"></i></i> Number of Guests</h4>
                <div class="wan-spinner demo">
                    <a href="javascript:void(0)" class="minus">-</a>
                    <input type="text" value="{% if num_guests %} {{num_guests}} {% else %} 1 {% endif %}" name="num_guests" >
                    <a href="javascript:void(0)" class="plus">+</a>
                </div>

            </div>
            <div class="col-md-2 col-xs-6 text-center checkbox terms">
                <label><h4><i class="fa fa-user"></i> Smoking Guests</h4></label>
                <input type="checkbox" name="smoking" {% if smoking %} checked="checked" {% else %}{% endif %}>
                <button type="submit" style="width: 1px; height: 1px; visibility: hidden"></button>
            </div>

        </form>
        <div class="col-md-2 col-sm-12 col-xs-12 text-center apply-search">
            <a id="apply-search"><h3>Apply Terms</h3></a>
        </div>
    </div>
</section>
<section class="header">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Booking</h1>
        </div>
    </div>
</section>

<form action="/rooms/book-room" method="post" id="bookingForm">
<section class="extras">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>{{room.local_name}}<small> please choose extras if you want</small></h2>
            </div>
        </div>
        <div class="row extras">
            <div class="col-sm-4">
                <h3><img src="/img/icons/my-icons-collection-yellow/breakfast.png" class="icon"> Breakfast</h3>
                <img src="/img/food/breakfast.jpg">
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <div class="form-group breakfast pull-right">
                    <label for="num_guests_breakfast">For how many guests</label>
                    <select class="form-control" id="num_guests_breakfast" name="breakfast">
                        <option value="0">I don't need breakfast</option>
                        {% for i in 1..room.num_guests %}
                        <option value="{{loop.index}}">{{loop.index}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row extras">
            <div class="col-sm-8">
                <h3>Are you alone or with friends or family</h3>
                <p>Please tell us how big your company is</p>
            </div>
            <div class="col-sm-4">
                <div class="form-group pull-right selects">
                    <label for="num_guests">How many guests</label>
                    <select class="form-control" id="num_guests" name="num_guests">
                        {% for i in 1..room.num_guests %}
                        <option value="{{loop.index}}">{{loop.index}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% if room.children == 1 %}
        <div class="row extras">
            <div class="col-sm-8">
                <h3>Happy Children</h3>
                <p>Please tell us how many children will be with you</p>
            </div>
            <div class="col-sm-4">
                <div class="form-group pull-right selects">
                    <label for="num_guests">How many children</label>
                    <select class="form-control" id="num_children" name="num_children">
                        <option value="0">No children</option>
                        {% for i in 1..room.num_guests %}
                        <option value="{{loop.index}}">{{loop.index}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row extras">
            <div class="col-sm-10">
                <h3>Quite room</h3>
                <p>We can provide you with extra bit of privacy</p>
            </div>
            <div class="col-sm-2 checkboxes">
                <input type="checkbox" name="quite_room"  class="pull-right checkbox-input">
            </div>
        </div>
        <div class="row extras">
            <div class="col-sm-10">
                <h3>Smoking Guests</h3>
                <p>Please tell us if you want smoke in the room</p>
            </div>
            <div class="col-sm-2 checkboxes">
                <input type="checkbox" name="smoking"  class="pull-right checkbox-input">
            </div>
        </div>
        <div class="row extras">
            <div class="col-sm-10">
                <h3>Pets on vocation</h3>
                <p>We can organize facilities for your pets</p>
            </div>
            <div class="col-sm-2 checkboxes">
                <input type="checkbox" name="pets"  class="pull-right checkbox-input">
            </div>
        </div>
        <div class="row extras">
            <div class="col-sm-10">
                <h3>Keen driver</h3>
                <p>We can find a vehicle for you to rent</p>
            </div>
            <div class="col-sm-2 checkboxes">
                <input type="checkbox" name="bike_rent"  class="pull-right checkbox-input">
            </div>
        </div>
    </div>
</section>

<section id="credentials">
    <div class="container-fluid">
        <h3>Please tell us about you</h3>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="num_guests">Title</label>
                    <select class="form-control" id="title" name="title">
                        <option value="Mr.">Mr.</option>
                        <option value="Ms.">Ms.</option>
                        <option value="Mrs.">Mrs.</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" name="first_name" value="{{session.facebook_first_name}}">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="num_guests">Last Name</label>
                    <input class="form-control"  name="last_name" value="{{session.facebook_last_name}}">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="num_guests">Email</label>
                    <input class="form-control" name="email" type="email" value="{{session.facebook_email}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label>Wishes</label>
                    <textarea class="form-control"  type="text" name="wishes" id="arrival"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Approximate arrival time:</label>
                    <select class="form-control" name="arrival_time" id="wishes">
                        <option value="00:00 - 02:00">00:00 - 02:00</option>
                        <option value="02:00 - 04:00">02:00 - 04:00</option>
                        <option value="04:00 - 06:00">04:00 - 06:00</option>
                        <option value="06:00 - 08:00">06:00 - 08:00</option>
                        <option value="10:00 - 12:00">10:00 - 12:00</option>
                        <option value="12:00 - 14:00">12:00 - 14:00</option>
                        <option value="16:00 - 18:00">16:00 - 18:00</option>
                        <option value="18:00 - 20:00">18:00 - 20:00</option>
                        <option value="20:00 - 22:00">20:00 - 22:00</option>
                        <option value="22:00 -240:00">22:00 - 24:00</option>
                        <option value="0" >I'm not sure</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="buttons">
            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-default btn-lg" type="submit">BOOK</button>
                    <a id="facebook" class="btn btn-default btn-lg" href="/info/get-user-info"><i class="fa fa-facebook"></i> Use facebook</a>
                </div>
            </div>
        </div>
    </div>
</section>
<input type="hidden" value="{{room.local_name}}" name="local_name">
<input type="hidden" value="{{checkin}}" name="checkin">
<input type="hidden" value="{{checkout}}" name="checkout">
<input type="hidden" value="{{room.id}}" name="room_id">
</form>

{% endblock %}




{% block footer %}
<script>

</script>


<script>
    // trigger form submission on button click
    $('.apply-search').click(function () {
        $('#searchRefine').submit();
    });
</script>


{% endblock %}
