{% extends "base_utility.html" %}

{% block title %}Login{% endblock %}

{% block footer %}
<!--hide and sPasswordword button script -->
<script src="/js/hideShowPassword.js"></script>
<!--custom password validation script -->
<script src="/js/app.js"></script>

    <script>


        //form validation using jQuery Validate plagin
        $(document).ready(function() {

            $('#loginForm').validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        validPassword: true //here we call our custom method to validate Password
                    }

                },
                messages: {
                    email: {
                        required: 'Hey, we do need your email!'
                    },
                    password: {
                        reqiured: 'We need you password to log you in',
                        minlength: 'Enter at least 6 characters',
                        validPassword: 'Password should contain at least one letter and a number'
                    }
                }
            });

            /**
             * Show Password toggle button
             */
            $('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });
        });

    </script>

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-6 offset-3">
    <h1>Welcome</h1>
   <!------------------------------------------ displaying of error messages ----------------------------------------------->
    {% if user.errors is not empty %}
    <p>Errors</p>
    <ul>
        {% for error in user.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<form method="post" action="/login/create" id="loginForm">


    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input class="form-control" id="inputEmail" type="email" name="email" placeholder="email address" value="{{ email}}"/>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input class="form-control"  type="password" id="inputPassword" name="password" placeholder="Password"/>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %}> Remember me</label>
    </div>

    <button class="btn btn-default" type="submit">Login</button>
    <a href="/password/new">I forgot my password</a>


</form>
    </div>
</div>


{% endblock %}