{% extends "admin_base.html" %}

{% block title %}All menu categories{% endblock %}
{% block page_heading %}All menu categories in{% endblock %}
{% block page_subheading %}{{ site_name }}{% endblock %}


{% block footer %}

{% endblock %}


{% block body %}

<div class="row wrap">
    <a class="btn btn-default" href="/admin/restaurant/create-category"></a>
</div>

<div class="row wrap">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Category name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.category_name }}</td>
                    <td>{{ category.category_description}}</td>
                    <td><a class="btn btn-default" href="/admin/menu/edit-category?id={{ category.category_id}}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>




{% if categories is empty %}
<div class="row wrap">
    <h3>There are currently no categories in your menu. You can <a href="/admin/menu/create-category">create</a> one</h3>
</div>
{% endif %}



{% endblock %}

