<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link href="/admin/css/sb-admin.css" rel="stylesheet">

    <!-- MY CSS -->
    <link href="/admin/css/mystyles.css" rel="stylesheet">

    <!-- My JS -->
    <script src="/admin/js/animations.js"></script>

    <!-- Custom Fonts -->
    <link href="/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- BOOTSTRAP File Input Plugin -->
    <link href="/admin/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/admin/js/plugins/canvas-to-blob.js" type="text/javascript"></script>
    <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
         This must be loaded before fileinput.min.js -->
    <script src="/admin/js/plugins/sortable.js" type="text/javascript"></script>
    <!-- purify.min.js is only needed if you wish to purify HTML content in your preview for HTML files.
         This must be loaded before fileinput.min.js -->
    <script src="/admin/js/plugins/purify.js" type="text/javascript"></script>
    <!-- the main fileinput plugin file -->
    <script src="/admin/js/fileinput.js"></script>

    <!-- CONFIRMATION BOOTSTRAP BUTTONS -->
    <script src="/admin/js/bootstrap-confirmation.js" type="text/javascript"></script>

    <!-- BOOTSTRAP DATEPICKER -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>

    <!-- FULL CALENDAR-->
    <link rel='stylesheet' href='/admin/css/fullcalendar.css' />
    <script src='/admin/js/moment.js'></script>
    <script src='/admin/js/fullcalendar.js'></script>

    <!-- QTIP -->
    <link rel='stylesheet' href='/admin/css/jquery.qtip.min.css' />
    <script src='/admin/js/jquery.qtip.min.js'></script>

    <!-- CHARTST -->
    <link rel="stylesheet" href="/admin/css/chartist.css">
    <script type="text/javascript" src="/admin/js/chartist.js"></script>

    <!-- TinyMCE -->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- FLASH MESSAGES -->
{% for message in flash_messages %}
<div class="flash_message alert alert-{{ message.type }}">{{ message.body }}</div>
{% endfor %}

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin/home/index">MyHotelAdmin</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu message-dropdown">
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    {% if current_user %}
                                    <strong>{{ current_user.first_name }} {{ current_user.last_name }}</strong>
                                    {% endif %}
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    {% if current_user %}
                                    <strong>{{ current_user.first_name }} {{ current_user.last_name }}</strong>
                                    {% endif %}
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    {% if current_user %}
                                    <strong>{{ current_user.first_name }} {{ current_user.last_name }}</strong>
                                    {% endif %}
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-footer">
                    <a href="#">Read All New Messages</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu alert-dropdown">
                <li>
                    <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">View All</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                {% if current_user %}
                <strong>{{ current_user.first_name }} {{ current_user.last_name }}</strong>
                {% endif %}
                <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/login/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#rooms"><i class="fa fa-fw fa-dashboard"></i> Accommodation <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="rooms" class="collapse">
                    <li>
                        <a href="/admin/rooms/all-rooms">All</a>
                    </li>
                    <li>
                        <a href="/admin/rooms/create-room">Create</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#guests"><i class="fa fa-fw fa-bar-chart-o"></i> Guests <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="guests" class="collapse">
                    <li>
                        <a href="#">All</a>
                    </li>
                    <li>
                        <a href="#">With upcoming bookings</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#bookings"><i class="fa fa-fw fa-table"></i> Bookings <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="bookings" class="collapse">
                    <li>
                        <a href="/admin/bookings/view-all-bookings">All</a>
                    </li>
                    <li>
                        <a href="/admin/bookings/create">Create</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#restaurant"><i class="fa fa-fw fa-table"></i> Restaurant <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="restaurant" class="collapse">
                    <li>
                        <a href="/admin/restaurant/categories">Categories</a>
                    </li>
                    <li>
                        <a href="/admin/restaurant/all-courses">Courses</a>
                    </li>
                    <li>
                        <a href="#">View orders</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>




<!-- PAGE CONTENT -->

<div id="wrapper">

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        {% block page_heading %} {% endblock %}
                        <small>{% block page_subheading %} {% endblock %}</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            {% block body %}
            {% endblock %}

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->


    <!-- jQuery plagin "Validate" for form validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

    <!--BOOTSTRAP CONFIRMATION BUTTON AND TINYMCE INITIALIZATIONS-->
    <script src="/admin/js/initializations.js" type="text/javascript"></script>




    {% block footer %}
    {% endblock %}

</div>
</body>